{% extends 'accounts/base.html' %}

{% block left_sidebar %}
    {% include "tabs/left-sidebar.html" %}
{% endblock %}

{% block body_block %}
<div class="main-content">

    <h2>How to Play</h2>
    <hr class="my-3">
    <p>PuntDoctor was founded by 3 young chaps (all who love a good punt on the weekend). Not satisfied with other
        fantasy games (Superbru really isn’t that super), they decided to create their own. Money talks, and what better way is there to finally prove who has better knowledge of sports than by seeing who
        can make the most money betting on it. Friendships will never be the same.<br><br>
        All the odds on PuntDoctor are taken from real money betting sites and therefore it gives you a proper
        indication if you have what it takes to beat the bookies.
    </p>

    <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card rule-content">
            <div class="card-header guide" role="tab" id="headingOne">
                <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Basics
                    </a>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-block">
                    <div class="list-container">
                        <ol class="rule-list">
                            <li>
                                <p>Every week each player receives R1000.</p>
                            </li>
                            <li>
                                <p>Maximum amount per bet is R250</p>
                            </li>
                            <li>
                                <p>Minimum amount per bet is R50</p>
                            </li>
                            <li>
                                <p>Each week your winnings will accumulate, these winnings can never be used to bet with. The player with the
                                most money at the end of a season wins.</p>
                            </li>
                            <li>
                                <p>The money that you place on a bet is not added to your accumulative score. For example: if you place R100 on
                                Liverpool to beat Chelsea and the odds are 8/10. If you win the bet, you will receive R80 towards your
                                cumulative score and not R180.</p>
                            </li>
                            <li>
                                <p>You can bet on singles or multiples (see below for explanations).</p>
                            </li>
                            <li>
                                <p>As PuntDoctor is a game of skill, we are limiting winnings to R5000 per bet (otherwise a player can get
                                extremely lucky once in the entire season and hit a huge multiplier and win the league- this is called being
                                a luckbox).</p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="card rule-content">
            <div class="card-header guide" role="tab" id="headingTwo">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Bonuses and Deductions
                    </a>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-block">
                    <p>We reward you if you bet well but we will punish you if you bet like a fool (choose your bets carefully)
                    <div class="list-container mt-2">
                        <ol class="rule-list">
                            <li>
                                <p>If you have accumulated R1500 or more in a week, you will start the following week with an extra R150. You begin the next week with R1150.</p>
                            </li>
                            <li>
                                <p>If you have accumulated less than R200 in a week R150 will be deducted the following week. You begin the
                                following week with R850 and NOT R1000). Because we are not cold hearted bookies, you will never start with
                                R850 2 weeks in a row (otherwise some of you would never be able to get out the rut). #noclueaboutsports</p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="card rule-content">
            <div class="card-header guide" role="tab" id="headingThree">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Odds and Probability
                    </a>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="card-block">
                    <p>Some of you may have never placed a bet in your life, never fear, the PuntDoctor has a dummies guide to help you
                        along.
                        If you’re new to betting, one of the first things you should do is learn how betting odds work. It’s critically
                        important because it allows you to understand how likely an event is to happen, and potentially what your
                        winnings will be. </p>
                    <h4 class="mt-4">What is Probability?</h4>
                    <p>The most basic level, betting provides you with the ability to predict the outcome of a certain event, and if
                        your prediction is correct, you will win money. For any given event, there are a certain number of outcomes.
                        Take rolling a dice for instance. If someone roles a dice, there are six possible outcomes. Therefore, if you
                        bet that the person rolls a ‘one’, there is a 16.67% chance that will happen. What betting odds merely do is
                        present how likely the event is to happen. Bookies most frequently in the UK do this as a fraction, i.e. 4/7,
                        whilst the vast majority also offer the ability to view them as decimals. Again, let us talk you through them.
                        All will become clear.</p>
                </div>
            </div>
        </div>
        <div class="card rule-content">
            <div class="card-header guide" role="tab" id="headingFour">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Calculating Winners
                    </a>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="card-block">
                    <p>Betting odds allow you to calculate how much money you will win if you make a bet. Let’s use the same examples as
                        before. 9/1 for every £1 you bet, you will win £9.</p>
                    <div class="list-container">
                        <ul class="rule-list">
                            <li>4/1 for every R1 you bet, you will win R4.</li>
                            <li>1/1 for every R1 you bet, you will win R1.</li>
                            <li>1/4 for every R1 you bet, you will win 25c</li>
                        </ul>
                    </div>
                    <h4 class="mt-4">What about decimals?</h4>
                    <p>
                        They are an alternative to seeing betting odds in the fraction format, and in our opinion, are easier to work
                        out. Here is the calculation: winnings = (odds * stake) – stake. Let’s illustrate it with some examples
                    </p>
                    <div class="list-container">
                        <ul class="rule-list">
                            <li>9.0 can be calculated as (9.0 * R10 stake) – R10 stake = R90 winnings.</li>
                            <li>4.0 can be calculated as (4.0 * R10 stake) – R10 stake = R40 winnings.</li>
                            <li>2.5 can be calculated as (2.5 * R10 stake) – R10 stake = R25 winnings.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card rule-content">
            <div class="card-header guide" role="tab" id="headingFive">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Types of Bets
                    </a>
                </h5>
            </div>
            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="card-block">
                    <h4>Single</h4>
                    If you don’t know what this is, you probably won’t win the 50k – but maybe next year. Anyway here goes:<br><br>
                    A single bet wins or loses depending on the outcome of the backed event. The person placing the bet must decide the
                    amount they wish to stake, the higher the stake the higher the potential winnings.
                    <br><br>
                    For example: South Africa plays England in Cricket – The odss are 1/1 for South Africa to win, which means for every
                    R1 placed, you will make R1 profit. You place R50, and thus you will get paid R100 back (R50 profit).
                    <h4 class="mt-4">Multiples</h4>
                    Is a single bet that links together more than one bet and is dependent on all the bets winning to land a profit.
                    This type of betting allows for higher odds than a single bet, potentially meaning a greater return from the initial
                    stake size should all the bets come in.<br><br>
                    This is where betting can get really interesting, the more bets you have in a multiple, your odds grow
                    exponentially. In order for a Multiple to win, each bet within the Multiple must be won. <br><br>
                    YOU CANNOT PLACE A MULTIPLE BY BETTING ON 2 SINGLE BETS FROM THE SAME GAME:
                    Example: You cannot pick Manchester United to beat Liverpool and bet on Manchester United scoring more than 2 goals.
                    The MULTIPLE will not be accepted. You will, however, be able to take these as 2 single bets.
                </div>
            </div>
        </div>
        <div class="card rule-content">
            <div class="card-header guide" role="tab" id="headingSix">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Handicaps
                    </a>
                </h5>
            </div>
            <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="card-block">
                    This is crucial to understanding betting. Often bookies will have handi-caps in order to even out the playing field
                    of teams. For example, in rugby, if the Crusaders were to play the Sunwolves you would get terrible odds for the
                    Crusaders to win and great odds for the Sunwolves to win.<br><br>
                    Let’s say the bookies have the Crusaders as huge favourites and have odds of 1/50 (for every R50 you bet, you only
                    win R1). Not many people would take this bet as you would need to place such a big amount of money to win anything
                    decent. It simply is not worth the risk. In order to get more people to bet, a handicap is provided.<br><br>
                    Let’s say the bookies think the Crusaders will win by 30 points, they would then offer a handicap of (+29.5) and
                    (-29.5). This means effectively that the Sunwolves are getting a 29.5 point head start on the Crusaders. The
                    Crusaders are starting with a 29.5 point disadvantage.<br><br>
                    The bookies would thus offer 9/10 odds for the Crusaders at (-29.5) and 9/10 odds for the Sunwolves at (+29.5). If
                    you think the Crusaders will win by more than 29 points, you would take the bet at (-29.5). If you think the
                    Sunwolves will lose by less than 29.5 points, you would take the bet at (+29.5).<br><br>
                    If the match ended 40-11 to the Crusaders, you would lose the bet if you picked Crusaders at (-29.5) as they only
                    won by 29 points. You needed them to win by 30 points to win the game. If you placed a bet on the Sunwolves handicap
                    you would have won the bet as they only lost by 29 points and you started with a 29.5 point advantage.
                </div>
            </div>
        </div>
    </div>


    <!--<h2>How to Play</h2>-->
    <!--<hr class="my-3">-->
    <!--<p>PuntDoctor was founded by 3 young chaps (all who love a good punt on the weekend). Not satisfied with other-->
        <!--fantasy games (Superbru really isn’t that super), they decided to create their own. <br><br>-->
        <!--Money talks, and what better way is there to finally prove who has better knowledge of sports than by seeing who-->
        <!--can make the most money betting on it. Friendships will never be the same.<br><br>-->
        <!--All the odds on PuntDoctor are taken from real money betting sites and therefore it gives you a proper-->
        <!--indication if you have what it takes to beat the bookies.-->
    <!--<div class="list-container">-->
        <!--<ol class="rule-list">-->
        <!--<li><p>Every week each player receives R1000.</p></li>-->
        <!--<li><p>Maximum amount per bet is R250</p></li>-->
        <!--<li><p>Minimum amount per bet is R50</p></li>-->
        <!--<li><p>Each week your winnings will accumulate, these winnings can never be used to bet with. The player with the-->
            <!--most money at the end of a season wins.</p></li>-->
        <!--<li><p>The money that you place on a bet is not added to your accumulative score. For example: if you place R100 on-->
            <!--Liverpool to beat Chelsea and the odds are 8/10. If you win the bet, you will receive R80 towards your-->
            <!--cumulative score and not R180.</p></li>-->
        <!--<li><p>You can bet on singles or multiples (see below for explanations).</p></li>-->
        <!--<li><p>As PuntDoctor is a game of skill, we are limiting winnings to R5000 per bet (otherwise a player can get-->
            <!--extremely lucky once in the entire season and hit a huge multiplier and win the league- this is called being-->
            <!--a luckbox).-->
        <!--</p></li>-->
        <!--</ol>-->
    <!--</div>-->
    <!--<h2>Bonuses and Deductions:</h2>-->
    <!--<hr class="my-3">-->
    <!--<p>We reward you if you bet well but we will punish you if you bet like a fool (choose your bets carefully)<br><br>-->
    <!--<ol>-->
        <!--<li>If you have accumulated R1500 or more in a week, you will start the following week with an extra R150. You-->
            <!--begin the next week with R1150. <br><br></li>-->
        <!--<li>If you have accumulated less than R200 in a week R150 will be deducted the following week. You begin the-->
            <!--following week with R850 and NOT R1000). Because we are not cold hearted bookies, you will never start with-->
            <!--R850 2 weeks in a row (otherwise some of you would never be able to get out the rut). #noclueaboutsports-->
        <!--</li>-->
    <!--</ol>-->
    <!--<h2>How do odds work:</h2>-->
    <!--<hr class="my-3">-->
    <!--<p>Some of you may have never placed a bet in your life, never fear, the PuntDoctor has a dummies guide to help you-->
        <!--along.-->
        <!--If you’re new to betting, one of the first things you should do is learn how betting odds work. It’s critically-->
        <!--important because it allows you to understand how likely an event is to happen, and potentially what your-->
        <!--winnings will be. </p>-->
    <!--<h4>What is Probability?</h4>-->
    <!--<p>The most basic level, betting provides you with the ability to predict the outcome of a certain event, and if-->
        <!--your prediction is correct, you will win money. For any given event, there are a certain number of outcomes.-->
        <!--Take rolling a dice for instance. If someone roles a dice, there are six possible outcomes. Therefore, if you-->
        <!--bet that the person rolls a ‘one’, there is a 16.67% chance that will happen. What betting odds merely do is-->
        <!--present how likely the event is to happen. Bookies most frequently in the UK do this as a fraction, i.e. 4/7,-->
        <!--whilst the vast majority also offer the ability to view them as decimals. Again, let us talk you through them.-->
        <!--All will become clear.</p>-->
    <!--<h4>Using Betting Odds to Calculate Probability </h4>-->
    <!--<p>Whenever you see two numbers separated by a trailing slash, i.e. 10/1, this is known as fractional odds. From-->
        <!--this, you can calculate how likely a given event is to happen with a calculation. 9/1 can be calculated as 1 /-->
        <!--(9 + 1) = 0.10 – There is a 10% chance that the event will happen.</p> <br><br>-->
    <!--<ul>-->
        <!--<li> 4/1 can be calculated as 1 / (4 + 1) = 0.20 – There is a 20% chance that the event will happen.<br><br>-->
        <!--<li> 1/1 can be calculated as 1 / (1 + 1) = 0.50 – There is a 50% chance that the event will happen.<br><br>-->
        <!--<li> 1/4 can be calculated as 4 / (4 + 1) = 0.80 – There is a 80% chance that the event will happen.<br><br>-->
    <!--</ul>-->
    <!--<p>Horray! We’re making progress. Given a fraction, we can now tell how likely (the probability) what we’re going to-->
        <!--bet on will happen. Now let’s figure out how much money can be won using betting odds.<br><br></p>-->
    <!--<h1>Using Betting Odds to Calculate Winnings </h1>-->
    <!--<p>Betting odds allow you to calculate how much money you will win if you make a bet. Let’s use the same examples as-->
        <!--before. 9/1 for every £1 you bet, you will win £9.<br><br></p>-->
    <!--<ul>-->
        <!--<li>4/1 for every R1 you bet, you will win R4.<br><br></li>-->
        <!--<li>1/1 for every R1 you bet, you will win R1.<br><br></li>-->
        <!--<li>1/4 for every R1 you bet, you will win 25c<br><br></li>-->
    <!--</ul>-->

    <!--<h4>What about decimals?<br><br></h4>-->
    <!--<p>They are an alternative to seeing betting odds in the fraction format, and in our opinion, are easier to work-->
        <!--out. Here is the calculation: winnings = (odds * stake) – stake. Let’s illustrate it with some examples<br><br>-->
    <!--</p>-->
    <!--<ul>-->
        <!--<li>9.0 can be calculated as (9.0 * R10 stake) – R10 stake = R90 winnings.<br><br></li>-->
        <!--<li>4.0 can be calculated as (4.0 * R10 stake) – R10 stake = R40 winnings.<br><br></li>-->
        <!--<li>2.5 can be calculated as (2.5 * R10 stake) – R10 stake = R25 winnings.<br><br></li>-->
    <!--</ul>-->
    <!--<h2>Types of Bet</h2>-->
    <!--<hr class="my-3">-->
    <!--SINGLE BET:<br><br>-->
    <!--If you don’t know what this is, you probably won’t win the 50k – but maybe next year. Anyway here goes:<br><br>-->
    <!--A single bet wins or loses depending on the outcome of the backed event. The person placing the bet must decide the-->
    <!--amount they wish to stake, the higher the stake the higher the potential winnings.-->
    <!--<br><br>-->
    <!--For example: South Africa plays England in Cricket – The odss are 1/1 for South Africa to win, which means for every-->
    <!--R1 placed, you will make R1 profit. You place R50, and thus you will get paid R100 back (R50 profit).<br><br>-->
    <!--Multiples:-->
    <!--Is a single bet that links together more than one bet and is dependent on all the bets winning to land a profit.-->
    <!--This type of betting allows for higher odds than a single bet, potentially meaning a greater return from the initial-->
    <!--stake size should all the bets come in.<br><br>-->
    <!--This is where betting can get really interesting, the more bets you have in a multiple, your odds grow-->
    <!--exponentially. In order for a Multiple to win, each bet within the Multiple must be won. <br><br>-->
    <!--YOU CANNOT PLACE A MULTIPLE BY BETTING ON 2 SINGLE BETS FROM THE SAME GAME:-->
    <!--Example: You cannot pick Manchester United to beat Liverpool and bet on Manchester United scoring more than 2 goals.-->
    <!--The MULTIPLE will not be accepted. You will, however, be able to take these as 2 single bets.-->
    <!--<h2>What is a Handicap</h2>-->
    <!--<hr class="my-3">-->
    <!--This is crucial to understanding betting. Often bookies will have handi-caps in order to even out the playing field-->
    <!--of teams. For example, in rugby, if the Crusaders were to play the Sunwolves you would get terrible odds for the-->
    <!--Crusaders to win and great odds for the Sunwolves to win.<br><br>-->
    <!--Let’s say the bookies have the Crusaders as huge favourites and have odds of 1/50 (for every R50 you bet, you only-->
    <!--win R1). Not many people would take this bet as you would need to place such a big amount of money to win anything-->
    <!--decent. It simply is not worth the risk. In order to get more people to bet, a handicap is provided.<br><br>-->
    <!--Let’s say the bookies think the Crusaders will win by 30 points, they would then offer a handicap of (+29.5) and-->
    <!--(-29.5). This means effectively that the Sunwolves are getting a 29.5 point head start on the Crusaders. The-->
    <!--Crusaders are starting with a 29.5 point disadvantage.<br><br>-->
    <!--The bookies would thus offer 9/10 odds for the Crusaders at (-29.5) and 9/10 odds for the Sunwolves at (+29.5). If-->
    <!--you think the Crusaders will win by more than 29 points, you would take the bet at (-29.5). If you think the-->
    <!--Sunwolves will lose by less than 29.5 points, you would take the bet at (+29.5).<br><br>-->
    <!--If the match ended 40-11 to the Crusaders, you would lose the bet if you picked Crusaders at (-29.5) as they only-->
    <!--won by 29 points. You needed them to win by 30 points to win the game. If you placed a bet on the Sunwolves handicap-->
    <!--you would have won the bet as they only lost by 29 points and you started with a 29.5 point advantage.<br><br>-->
</div>

{% endblock %}