{% extends 'accounts/base.html' %}

{% block left_sidebar %}
    {% include "tabs/left-sidebar.html" %}
{% endblock %}

{% block body_block %}
<div class="main-content">
    <h2>Just the tip</h2>
    <hr class="my-3">
    <p>Each week, one of PuntDoctor’s 3 founders will give you some valuable (this is highly debatable) insights into what they think are the week’s best bets. These tips can be from a variety of sports. We will also bring you guest Tipsters who will share their knowledge to help you make your picks.</p>
    <div class="row p-1">
        <div class="col tipper">
            <div>
                <div class="tipper-image"></div>
                <p class="tipper-name">RugbyMadRobdog</p>
                The man behind the PuntDoctor concept has always been a sports addict but rugby is where his heart lies. Back in his youthful days, he made a few guest appearances on ENEWS as a rugby analyst (he predicted both of his games incorrectly on live television as the pressure of the cameras got to him). Loves taking a punt with his business partner ‘Tipster Tom’ (the self-proclaimed king of Football).
                <div class="betting-tip tip-rob">
                    <p><span>&#8220</span>Never support a sports team (this coming from a massive Lions fan).
                    Loves handicap and over/under points betting  on rugby (the bookies often get it seriously wrong).<span>&#8221</span></p>
                </div>
            </div>
        </div>
        <div class="col tipper">
            <div>
                <div class="tipper-image"></div>
                <p class="tipper-name">Tipster Tom</p>
                Doesn’t mind a few beers watching the Premier League. Football Junkie who in his own words has yet to win a bet on Football (be very careful when following his picks). He did predict at the start of last seasons Premier League that Chelsea would walk it and he wasn’t wrong (but then again, half the world predicted the same).
                <div class="betting-tip tip-tom">
                    <p><span>&#8220</span>Always bet more than you can afford.
                    The English Premier League is far too easy to predict.<span>&#8221</span></p>
                </div>
            </div>
        </div>
        <div class="col tipper">
            <div>
                <div class="tipper-image"></div>
                <p class="tipper-name">Dangerous Dan</p>
                The brains behind the software of PuntDoctor, he would be a rich man if he was as successful as sports betting as he is developing software. Never follows Tipster Tom’s betting advice (to his own detriment).
                <div class="betting-tip tip-dan">
                    <p><span>&#8220</span>Take easy money early<span>&#8221</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block right_sidebar %}
{% endblock %}