<div class="left-sidebar">
    <ul class="sidebar-nav">
        <li><a href="{% url 'epl' %}"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
        <li><a href="{% url 'tabs:just-the-tip' %}"><i class="fa fa-lightbulb-o" aria-hidden="true"></i>Just the Tip</a></li>
        <li><a href="{% url 'tabs:pools' %}"><i class="fa fa-users" aria-hidden="true"></i>Pools</a></li>
        <li><a href="{% url 'transactions' %}"><i class="fa fa-list-alt" aria-hidden="true"></i>Transactions</a></li>
        <li><a href="{% url 'tabs:how-it-works' %}"><i class="fa fa-info-circle" aria-hidden="true"></i>How it works</a></li>
        <li><a href="{% url 'tabs:prizes' %}"><i class="fa fa-trophy" aria-hidden="true"></i>Prizes</a></li>
        <li><a href="{% url 'account' %}"><i class="fa fa-user-circle" aria-hidden="true"></i>Account</a></li>
        <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>Log Out</a></li>
    </ul>
    <div class="pool-standings">
        {% if pools_sidebar %}
        {% for pool in pools_sidebar %}
        <a href="#">
            <div class="pool-item row no-gutters">
                <div class="col pool-name-sidebar">{{ pool.pool_name }}</div>
                {% if pool.pool_movement > 0 %}
                <div class="col text-right standing">{{ pool.pool_standing }}/{{ pool.members_in_pool }}<span class="change up"><i class="fa fa-caret-up" aria-hidden="true"></i>{{ pool.pool_movement }}</span></div>
                {% elif pool.pool_movement < 0 %}
                <div class="col text-right standing">{{ pool.pool_standing }}/{{ pool.members_in_pool }}<span class="change down"><i class="fa fa-caret-down" aria-hidden="true"></i>{{ pool.pool_movement }}</span></div>
                {% else %}
                <div class="col text-right standing">{{ pool.pool_standing }}/{{ pool.members_in_pool }}</div>
                {% endif %}
            </div>
        </a>
        {% endfor %}
        {% endif %}
    </div>
</div>
