{% extends 'accounts/base.html' %}
{% block javascript %}

<script>

    function myFunction() {
        var input, filter, ul, li, a, i, form;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementsByClassName("myUL2");
        console.log(ul);
        for (i = 0; i < ul.length; i++) {
            a = ul[i].getElementsByTagName("a")[0];
            console.log(ul[i]);
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                console.log(a.innerHTML);
                ul[i].style.display = "";
            } else {
                ul[i].style.display = "none";
            }
        }
    }

    function renderPool(poolName){
        var csrf = $("#token input[name='csrfmiddlewaretoken']").val();
        console.log(csrf);
        $.ajax({
            url: "{% url 'tabs:pools' %}",
            type: "POST",
            data: {
                'csrfmiddlewaretoken': csrf,
                'pool_name': poolName
            },
            success: function (response) {
                console.log(response);
                // TODO: Render pool info.
            },
            error: function (err) {
                console.log("Error with rendering of the pool.");
                console.log(err);
            }
        });
    };

    $(".pool").click(function () {
        window.location.href += 'pool/' + $(this).attr('id');
    });

</script>
{% endblock %}
{% block left_sidebar %}
{% include "tabs/left-sidebar.html" %}
{% endblock %}

{% block body_block %}
<div>
    <div class="pools container-fluid p-0">
        <!--For loop this whole pool-container-->
        <div class="row">
            {% if pools %}
            {% for pool in pools %}
            <div class="col-12 mb-3">
                <div class="pool" id="{{ pool.pk }}">
                    <table class="pool-summary">
                        <tr>
                            <td class="pool-summary-name">
                                <h4 class="mb-0">{{ pool.pool_name }}</h4>
                            </td>
                            <td class="pool-summary-standing text-right">
                                <span class="field-name">position</span>{{ pool.pool_standing }}/{{ pool.members_in_pool }}
                            </td>
                            <td class="pool-summary-change text-right">
                                {% if pool.pool_movement > 0 %}
                                    <span class="field-name">change</span>
                                    <span class="position-change up">{{ pool.pool_movement }}<i class="fa fa-caret-up" aria-hidden="true"></i></span>
                                {% elif pool.pool_movement < 0 %}
                                    <span class="field-name">change</span>
                                    <span class="position-change down">{{ pool.pool_movement }}<i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                {% else %}
                                    <span class="field-name">-</span>
                                    <span class="position-change">{{ pool.pool_movement }}<i class="fa fa-caret-left" aria-hidden="true"></i></span>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
