{% extends 'accounts/base.html' %}
{% block javascript %}

<script>
    function myFunction() {
        var input, filter, ul, li, a, i, form;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementsByClassName("myUL2");
        console.log(ul);
        for (i = 0; i < ul.length; i++) {
            a = ul[i].getElementsByTagName("a")[0];
            console.log(ul[i]);
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                console.log(a.innerHTML);
                ul[i].style.display = "";
            } else {
                ul[i].style.display = "none";
            }
        }
    }

    function renderPool(poolName){
        var csrf = $("#token input[name='csrfmiddlewaretoken']").val();
        console.log(csrf);
        $.ajax({
            url: "{% url 'tabs:pools' %}",
            type: "POST",
            data:{
                'csrfmiddlewaretoken': csrf,
                'pool_name': poolName
            },
            success: function(response) {
                console.log(response);
                // TODO: Render pool info.
            },
            error: function(err) {
                console.log("Error with rendering of the pool.");
                console.log(err);
            }
        });
    };

</script>
{% endblock %}
{% block left_sidebar %}
{% include "tabs/left-sidebar.html" %}
{% endblock %}

{% block body_block %}
<div class="main-content">
    <h2>{{ pool_ranking.0.pool_name }}</h2>
    <h3>{{ pool_ranking.0.date|date:"d F Y" }}</h3>
    <hr class="my-3">
    {% if no_rankings %}
    {#        TODO: Styling @paddy #}
    <div>No Rankings, check back in a few days</div>
    {% else %}
    <div class="pool-detail" id="{{ pool_ranking.pool_name }}">
        <table class="pool-rankings">
            {% for pr in pool_ranking %}
            <tr>
                <td class="rank">
                    <div>{{pr.rank}}</div>
                </td>
                <td class="tag">
                    <div></div>
                </td>
                <td class="username">
                    {{ pr.member }}
                </td>
                <td class="monies">
                    R{{ pr.accrued_monies }}
                </td>
                <td class="change">
                    <span class="position-change up">{{ pool_ranking.pool_movement }}<i class="fa fa-caret-up"
                                                                                        aria-hidden="true"></i></span>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <hr class="my-3">
    <div style="font: 10px sans-serif;margin: 0 auto;width: 100%;" class="chart"></div>
    {% endif %}
</div>

<script>
    var data = {{ rankings|safe }};
    var dates = {{ dates|safe }};

    // TODO Paddy: Move all javascript into a .js file. Leave all templated vars as they are
    // https://gist.github.com/trtg/3922684
    d3.selection.prototype.moveToFront = function() {
        return this.each(function(){
            this.parentNode.appendChild(this);
        });
    };

    var margin = {top: 20, right: 50, bottom: 30, left: 50},
        width = 960 - margin.left - margin.right,
        height = 300 - margin.top - margin.bottom;

    var x = d3.time.scale()
        .range([0, width]);

    var y = d3.scale.linear()
        .range([height, 0]);

    var format = d3.time.format("%Y-%m-%d");

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient('bottom')
        .tickFormat(function(d) { return d.getFullYear() + '/' + (d.getMonth() + 1) +'/' + d.getDate(); });

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient('left');

    var yAxisRight = d3.svg.axis()
        .scale(y)
        .orient('right');


    var line = d3.svg.line()
        .x(function(d) { return x(format.parse(d.date)); })
        .y(function(d) { return y(d.rank); })
        .interpolate('monotone');


    var colors = d3.scale.category20();

    var svg = d3.select('.chart').append('svg')
        .attr('width', width + margin.left + margin.right)
        .attr('height', height + margin.top + margin.bottom)
        .append('g')
        .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');

    var minDate = format.parse(dates.min);
    var maxDate = format.parse(dates.max);

    var teamNames = Object.keys(data);
    var teamData = teamNames.map(function(t, i) {
        return { name: t, values: data[t], index: i };
    });
    x.domain([minDate, maxDate]);
    y.domain([teamNames.length + 0.5, 1]);

    svg.append('g')
        .attr('class', 'x axis')
        .attr('transform', 'translate(0,' + height + ')')
        .call(xAxis);

    svg.append('g')
        .attr('class', 'y axis')
        .call(yAxis);

    d3.select('svg').append('g')
        .attr('class', 'y axis')
        .attr('transform', 'translate(' + (width + margin.left) + ',' + margin.top + ')')
        .call(yAxisRight);

    var ranks = svg.append('g').selectAll('.line')
        .data(teamData)
        .enter()
        .append('path')
        .attr('class', 'line')
        .attr('d', function(d) { return line(d.values); })
        .attr('data-team', function(d) { return d.name; })
        .attr('data-team-index', function(d, i) { return i; })
        .style({
            stroke: function(d, i) { return colors(i); }
        })
        .on('click', function(e) {
            removeSelection();
            var selector = 'div[data-team-index=\'' + e.index + '\']';
            d3.select(this).classed('selected', true).moveToFront();
            d3.select(selector).classed('selected', true);
        });

    var teams = teamData.map(function(d, i) {
        return {
            name: d.name.toLowerCase(),
            display: d.name,
            index: i,
            color: colors(i)
        };
    });
    teams.sort(function(a, b) {
        if ( a.name < b.name ) { return -1 };
        if ( a.name > b.name ) { return 1 };
        return 0;
    });
    var legend = d3.select('.chart').append('div')
        .attr('class', 'team-name-container');

    legend.selectAll('.team-name')
        .data(teams)
        .enter()
        .append('div')
        .attr('class', 'team-name')
        .attr('data-team-index', function(d) { return d.index; })
        .style({
            color: function(d) { return d.color; },
            'border-color': function(d) { return d.color; }
        })
        .text(function(d) { return d.display; })
        .on('click', function(e) {
            removeSelection();
            var selector = 'path[data-team-index=\'' + e.index + '\']';
            d3.select(this).classed('selected', true);
            d3.select(selector).classed('selected', true).moveToFront();
        });

    function removeSelection() {
        d3.select('.team-name.selected').classed('selected', false);
        d3.select('.line.selected').classed('selected', false);
    }
</script>
{% endblock %}

