{% extends 'accounts/base.html' %}

{% block left_sidebar %}
    {% include "tabs/left-sidebar.html" %}
{% endblock %}

{% block body_block %}
    <div class="main-content">
        <h2>Prizes and Disclaimers</h2>
        <hr class="my-3">

        <h4 class="mt-4">Cash Prizes</h4>
        <p>We don’t mess around at PuntDoctor and we reward our winners handsomely. We all know that whenever money is involved, the stakes are higher, people take it more seriously and the adrenaline pumps. Ever watch a game of lawn bowls think ‘man that is boring’. However, take a punt on it and suddenly it seems you are watching the Rugby World Cup Final.</p>

        <h4 class="mt-4">Grand Prizes</h4>

        <p>The following prizes apply to the first 5 players in the World Pool (yes your eyes are not deceiving you).</p>

        <ul class="prize-list">
            <li><p><span>1st Place</span> - R50 000</p></li>
            <li><p><span>2nd Place</span> – R20 000</p></li>
            <li><p><span>3rd Place</span> -  R10 000</p></li>
            <li><p><span>4th Place</span> – R6 000</p></li>
            <li><p><span>5th Place</span> – R4 000</p></li>
        </ul>

        <p>Not a bad prize pool for a FREE competition!</p>


    </div>
{% endblock %}