{% extends "accounts/base.html" %}
{% load staticfiles %}
{% block javascript %}
<script>
    $("#id_username").change(function () {
        var username = $(this).val();
        $.ajax({
            url: "{% url 'accounts:validate_username' %}",
            data: {
                'username': username
            },
            dataType: 'json',
            success: function (data) {
                if (data.is_taken) {
                    alert("A user with this username already exists.");
                }
            }
        });
    });
</script>
{% endblock %}
{% block body_block %}

<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Some text in the Modal..</p>
    </div>

    <div class="registration-page">
        {% if registered %}
        <h1>Thank you for registering!</h1>
        {% else %}
        <section class="container registration-form">
            <div class="row">
                <div class="col-6">
                    <h2>Registration</h2>
                    <hr class="my-3">

                    {% if registered %}
                    <h1>Thank you for registering!</h1>
                    {% else %}
                    <form enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        {{ user_form.as_p }}
                        {{ profile_form.as_p }}
                        <input class="btn btn-link" type="submit" name="" value="Register">
                    </form>
                    {% endif %}
                </div>

                <div class="col-6 terms-and-conditions">
                    <h2>Terms & Conditions</h2>
                    <hr class="my-3">
                    <p>
                        By clicking on "Register" you agree to The Company's Terms and Conditions
                    </p>
                    <p>
                        Here are the T's & C's
                    </p>
                    <p>
                        Here are the T's & C's
                    </p>
                    <p>
                        Here are the T's & C's
                    </p>


                </div>
            </div>
            <!--<div class="row">-->
            <!--<div class="col-12 text-center mt-4">-->
            <!--<button type="submit" class="btn btn-primary">Register</button>-->
            <!--</div>-->
            <!--</div>-->
        </section>
        {% endif %}
        <div class="bottom-spacer"></div>
    </div>
</div>

{% endblock %}
