<div class="right-sidebar">
    <div class="bet-slip">
        <h5 class="box-header">Betslip</h5>
        <a href="#" class="remove-all" onclick="removeBets()"><p>Remove All</p></a>

        <div id="betform">

        </div>
        <div class="row wager-picker" id="betform">
            <div class="col-8">
                <div class="input-group mt-3">
                      <span class="input-group">
                        <input type="text" id="bet_amount" name="quant[1]"
                               class="form-control form-control-sm input-number" value="50" min="50" max="250">
                      </span>
                    {% csrf_token %}
                    <span class="input-group-btn"><button type="button" class="btn-sm btn btn-default btn-number"
                                                          disabled="disabled" data-type="minus" data-field="quant[1]"><i
                            class="fa fa-minus" aria-hidden="true"></i></button></span>
                    <span class="input-group-btn"><button id="button-plus" type="button"
                                                          class="btn-sm btn btn-default btn-number" data-type="plus"
                                                          data-field="quant[1]"><i class="fa fa-plus"
                                                                                   aria-hidden="true"></i></button></span>
                    <span class="input-group-btn"><button type="button"
                                                          class="btn-sm btn btn-default place_bet btn-number" data-type="max"
                                                          data-field="quant[1]">Place Bet</button></span>
                </div>
            </div>
        </div>
        <div class="accumulated-odds">
            <span class="slip-amount" id="total_odds">No bet</span>
        </div>
        <div class="stand-to-win">
            <span class="slip-amount" id="stw">No bet</span>
        </div>
        <div class="funds-error" id="insufficient_funds">
        </div>
        <div>
            <div class="funds-error" id="placed"></div>
        </div>
    </div>
</div>
