{% extends 'accounts/base.html' %}

{% block left_sidebar %}
    {% include "tabs/left-sidebar.html" %}
{% endblock %}

{% block body_block %}
<div class="main-content">
    <h2>Just the tip</h2>
    <hr class="my-3">
    {% if submitted %}
    <h3>Thank you for your input.</h3>
    {% else %}
    <h3>Fill out the form</h3>
    <form action="{% url 'tabs:wishlist' %}" method="POST">
        {% csrf_token %}
        {{ wish_form.as_p }}
        <input class="btn btn-primary" type="submit" value="submit">
    </form>
    {% endif %}
</div>
{% endblock %}