{% extends 'accounts/base.html' %}

{% block left_sidebar %}
{% include "tabs/left-sidebar.html" %}
{% endblock %}

{% block body_block %}
<div class="main-content">
    <h2>Account</h2>
    <hr class="my-3">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>Username</label>
                <h5>{{ user.username }}</h5>
            </div>

            <div class="form-group">
                <label>Email Address Password</label>
                <h5>{{ user.email }}</h5>
            </div>

            <div class="form-group">
                <label>Account Balance</label>
                <h5>{{ profile.game_account_balance }}</h5>
            </div>

            <div class="form-group">
                <label>Account Accrued Balance</label>
                <h5>{{ profile.game_account_accrued_balance }}</h5>
            </div>

            <div class="form-group">
                <label>Bank Name</label>
                <h5>{{ profile.bank_name }}</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}