<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="A_RirXxI65BB0uvne6IDRYZWUrnGEsMyH1H9HhrDb7A" />
    <title>{% block title %}PuntDoctor{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    {% load staticfiles %}
    <link href="{% static 'base.css' %}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Exo:400,800,900" rel="stylesheet">
    <link rel="shortcut icon" href="{% static "favicon.png" %}" />
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </head>

  <body>

  <div id="registerModal" class="register-modal">
    <!-- Modal content -->
    <div class="register-modal-content">
      <section>
        <div class="row">
          <div class="col-12">
            <h4 style="color:white" class="text-left">Register</h4>
            <hr>
            {% if registered %}
            <h1>Thank you for registering!</h1>
            {% else %}
            <form enctype="multipart/form-data" method="POST">
              {% csrf_token %}
              {{ user_form.as_p }}
              <input class="btn btn-link" type="submit" name="" value="Register">
            </form>
            {% endif %}
          </div>
        </div>
      </section>
      <p class="modal-close">Later</p>
    </div>
  </div>


  <!--Main Navigation-->
    <div class="header-container">
      <div class="navbar-image">
        <img src="{% static "puntdoctor_logo_cropped.png" %}" alt="PuntDoctor Logo" width="120">
      </div>
      <div class="nav-and-title-container"></div>
      <nav class="navbar navbar-toggleable-md">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a href="{% url 'epl' %}">
          <!--Punt Doctor-->
          <div class="navbar-title">
            <h3>Punt Doctor</h3>
          </div>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
        {# Django Home Link / Admin Link / Register Link#}
          <ul class="navbar-nav">
            {# Some logic on what to display for last item#}

            <li><a style="margin-top:0.5em;" class="nav-link" href="{% url 'epl' %}">English Premier League</a></li>
            <li><a class="nav-link" href="#">Rugby<span class="nav-link-sub"><br>coming soon!</span></a></li>
            <li><a class="nav-link" href="#">Cricket<span class="nav-link-sub"><br>coming soon!</span></a></li>
            {% if user.is_authenticated %}
            <li class="account-balance">
              <div><a class="nav-link" id="balance" href="">R{{ user.profile.game_account_balance }}<span class="nav-link-sub"><br>Available Balance</span></a></div>
              <div><a class="nav-link" id="balance" href="">R{{ user.profile.game_account_accrued_balance }}<span class="nav-link-sub"><br>Accumulated Balance</span></a></div>
            </li>
            {% endif %}
          </ul>
        </div>
        {% if user.is_authenticated %}
        <div class="dropdown">
          <button class="btn btn-md btn-custom dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle" aria-hidden="true"></i>  {{ user.username }}
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'account' %}">Account</a>
            <a class="dropdown-item" href="{% url 'transactions' %}">Transactions</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          </div>
        </div>
        {% else %}
        <div class="navbar-login">
            <form class="form-inline" method="post" action="{% url 'accounts:user_login' %}">
              {% csrf_token %}
              <input type="text" class="form-control form-control-sm mr-1" id="inlineFormInput" placeholder="Username" name="username">
              <input type="password" class="form-control form-control-sm mr-3" id="inlineFormInputGroup" placeholder="Password" name="password">
              <button type="submit" class="btn btn-primary btn-sm mr-3">Login</button>
              <!--<div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>-->
              <button id="registerButton" class="btn btn-primary btn-sm">Register</button></li>
            </form>
        </div>
        {% endif %}
      </nav>
      <h6 class="tagline">The ultimate free sports prediction game</h6>
    </div>

    <div class="container-fluid main-page-container">
    <!--Left Sidebar-->
    {% block left_sidebar %}
    {% endblock %}
    <div class="page-content">
      <!--Main Content Area-->
      {% block body_block %}
      {% endblock %}
    </div>
    <!--Right Sidebar-->
    {% block right_sidebar %}
    {% endblock %}
    </div>

    <footer>
      <div class="main-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <a href="{% url 'epl' %}"><h5 class="footer-logo">PuntDoctor</h5></a>
              <div class="row">
                <div class="col-6">
                  <ul class="list-unstyled">
                    <li><a href="{% url 'tabs:just-the-tip' %}">Just the Tip</a></li>
                    <li><a href="{% url 'tabs:pools' %}">Pools</a></li>
                    <li><a href="{% url 'transactions' %}">Transactions</a></li>
                  </ul>
                </div>
                <div class="col-6">
                  <ul class="list-unstyled">
                    <li><a href="{% url 'tabs:how-it-works' %}">How it works</a></li>
                    <li><a href="{% url 'tabs:prizes' %}">Prizes</a></li>
                    <li><a href="{% url 'account' %}">Account</a></li>
                  </ul>
                </div>
              </div>
              <div class="footer-copyright row" style="">© 2017 PuntDoctor. All rights reserved.</div>
              <!--<ul class="nav">-->
                <!--<li class="nav-item"><a href="" class="nav-link pl-0"><i class="fa fa-facebook fa-lg"></i></a></li>-->
                <!--<li class="nav-item"><a href="" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a></li>-->
                <!--<li class="nav-item"><a href="" class="nav-link"><i class="fa fa-github fa-lg"></i></a></li>-->
                <!--<li class="nav-item"><a href="" class="nav-link"><i class="fa fa-instagram fa-lg"></i></a></li>-->
              <!--</ul>-->
              <br>
            </div>

          </div>
        </div>
      </div>
    </footer>

    {% block javascript %}

    {% endblock %}
  </body>
  <div id="fb-root"></div>
<script>
    //plugin bootstrap minus and plus
    //http://jsfiddle.net/laelitenetwork/puJ6G/
    $('.btn-number').click(function(e){
        e.preventDefault();

        fieldName = $(this).attr('data-field');
        type      = $(this).attr('data-type');
        var input = $("input[name='"+fieldName+"']");
        var currentVal = parseInt(input.val());
        if (!isNaN(currentVal)) {
            if(type == 'minus') {

                if(currentVal > input.attr('min')) {
                    input.val(currentVal - 50).change();
                }
                if(parseInt(input.val()) == input.attr('min')) {
                    $(this).attr('disabled', true);
                }
            } else if(type == 'plus') {

                if(currentVal < input.attr('max')) {
                    input.val(currentVal + 50).change();
                }
                if(parseInt(input.val()) == input.attr('max')) {
                    $(this).attr('disabled', true);
                }

            }
        } else {
            input.val(0);
        }
    });
    $('.input-number').focusin(function(){
        $(this).data('oldValue', $(this).val());
    });
    $('.input-number').change(function() {

        minValue =  parseInt($(this).attr('min'));
        maxValue =  parseInt($(this).attr('max'));
        valueCurrent = parseInt($(this).val());

        name = $(this).attr('name');
        if(valueCurrent >= minValue) {
            $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
        } else {
            alert('Sorry, the minimum value was reached');
            $(this).val($(this).data('oldValue'));
        }
        if(valueCurrent <= maxValue) {
            $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
        } else {
            alert('Sorry, the maximum value was reached');
            $(this).val($(this).data('oldValue'));
        }

    });
    $(".input-number").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
            // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) ||
            // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });


//    Login with Facebook
      (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9&appId=180235935384582";
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

</script>

</html>
