{% extends 'accounts/base.html' %}
{% block javascript %}
{% load static %}

<script src="{% static 'js/filters.js' %}"></script>

    <script>
        {# AJAX to submit to the database #}
        var betform = new Object();
        betform.game_id = [];
        betform.odds = [];
        betform.market = [];
        var stw = 0;
        var stand_to_win;
        var bet_amount;
        var acca;
        var total_odds;

        $(".place_bet").click(function () {
            console.log(bet_amount)
            $(".place_bet").attr('disabled', true);
            $("#placed").html('<p><i class="fa fa-cog"' +
                ' aria-hidden="true"></i> Placing bet... </p>');
            $.ajax({
                url: "{% url 'epl' %}",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': $('#betform input[name="csrfmiddlewaretoken"]').val(),
                    'stw': bet_amount * acca,
                    'odds': round(acca, 2),
                    'games': betform.game_id.toString(),
                    'amount': $("#bet_amount").val(),
                    'markets': betform.market.toString(),
                    'all_odds': betform.odds.toString()
                },
                success: function () {
                    console.log("success");
                    $("#placed").html('<p><i class="fa fa-check"' +
                        ' aria-hidden="true"></i> Bet Placed </p>');
                    setTimeout(location.reload.bind(location), 1500);
                },
                error: function () {
                    console.log("Error")
                    $("#placed").html('<p><i class="fa fa-window-close-o"' +
                        ' aria-hidden="true"></i> Bet Not Placed! </p>')
                }
            });
        });
        setTimeout(function () {
            $('#place_bet').prop('disabled', false);
        }, 1000);

        $(document).ready(function () {
            {# To add games to betform #}
            $("button.game-bet-btn").click(function () {
                var value = $(this).attr("value");
                var bet = $(this).attr("bet");
                var rounding = 2;
                if (bet.includes('over') || bet.includes('under')) {
                    rounding = 3;
                };
                var odds = round(value.slice(value.indexOf(',') + 1, value.length), rounding);
                var game = $(this).attr("game");
                var game_id = value.slice(0, value.indexOf(','));
                var str = `<div class="bet-item" id="betform-` + game_id + `">
                                <div class="selection">
                                    <div class="removeBetContainer">
                                        <a href="#" onclick="removeSelectedBet(`+ game_id + `)" class="remove-bet" data="` + game_id + `"><i class="fa fa-times" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="betDetailsContainer">
                                        <p class="outcome">` + bet + `</p>
                                        <p class="players">` + game + `</p>
                                    </div>
                                    <div class="oddsContainer">
                                        <p class="odds" id="odds">` + odds + `</p>
                                    </div>
                                </div>
                            </div>`

                // If same bet is selected again toggle the class and remove from betslip
                if ($(this).hasClass("chosen-bet")) {
                    $(this).toggleClass("chosen-bet");
                    removeSelectedBet(game_id);
                    $("#betform-"+gameId).remove();

                // If different bet within same game is selected then toggle highlight and change bet in sidebar
                } else {
                    $(this).closest(".game-container").find('*').removeClass("chosen-bet")
                    $(this).addClass("chosen-bet")
                }

                if ($.inArray(game_id, betform.game_id) >= 0) {
                    console.log("Game in betform");
                    var s = "betform-" + game_id.toString();
                    console.log(s);
                    var item = document.getElementById(s);
                    item.insertAdjacentHTML('afterend', str);
                    changeBet(game_id);
                } else {
                    $("#betform").append(str);
                };
                betform.game_id.push(game_id);
                betform.odds.push(odds);
                betform.market.push($(this).attr("name"));
                $(document).on("click keydown", function (event) {
                    if (event.which == 13) {
                    }
                    else {
                        bet_amount = Number($("#bet_amount").val());
                        {#                console.log(bet_amount);#}
                        {# Calculate stand_to_win #}
                        if ((bet_amount >= 0) && (betform.odds.length >= 0)) {
                            acca = 1;
                            $.each(betform.odds, function (i, l) {
                                acca = acca * [1 + parseFloat(l)];
                            });
                            acca -= 1;
                            total_odds = "Accumulated odds: " + acca.toFixed(2);
                            $("#total_odds").text(total_odds);
                            stand_to_win = "Stand to win: R" + roundNumberToTwo(bet_amount * acca);
                            $("#stw").text(stand_to_win);
                            var balance_string = $("#balance").text();
                            var balance = balance_string.slice(1,
                                balance_string.indexOf('A'));

                            if (balance >= bet_amount) {
                                $("#place_bet").prop('disabled', false);
                                $("#insufficient_funds").html("<p></p>")
                            }
                            else {
                                $("#place_bet").prop('disabled', true);
                                $("#insufficient_funds").html(
                                    '<p><i class="fa fa-exclamation-circle"' +
                                    ' aria-hidden="true"></i> Insufficient funds</p>');
                            };
                        }
                    }
                });
            });
        });
        {# Remove all bets from betform  #}
        function removeBets() {
            console.log('Remove all');
            $('#betform').children('.bet-item').remove();
            betform.game_id = [];
            betform.odds = [];
            betform.market = [];
            stw = 0;
            bet_amount = 0;
            acca = 0;
            $("#total_odds").text("No Bet");
            $("#stw").text("No Bet");
            $("button.game-bet-btn").removeClass("chosen-bet")
        };
        {# Select a different bet within same game  #}
        function changeBet(gameId){
            console.log("Removing: " + gameId);
            $("#betform-"+gameId).remove();
            var index = betform.game_id.indexOf(gameId.toString());
            betform.game_id.splice(index, 1);
            betform.odds.splice(index, 1);
            betform.market.splice(index, 1);
        };
        {# Remove specific bet from betslip  #}
        function removeSelectedBet(gameId) {
            $("#betform-"+gameId).remove();
            console.log("Removing: " + gameId);
            var index = betform.game_id.indexOf(gameId.toString());
            console.log(index);
            betform.game_id.splice(index, 1);
            betform.odds.splice(index, 1);
            betform.market.splice(index, 1);
            $(`div[game-id='${gameId}']`).find('*').removeClass("chosen-bet")
        }
        function round(value, decimals) {return Number(Math.round(value + 'e' + decimals) + 'e-' + decimals);
        };
    </script>
{% endblock %}
{% block left_sidebar %}
    {% include "tabs/left-sidebar.html" %}
{% endblock %}

{% block body_block %}
    <div class="main-content no-background">

        {% load static %}
        {% load add_filters %}

        <!--Placeholder Advertising Carousel-->

        <!--<div style="margin-top: -1em" id="carouselExampleControls" class="carousel slide" data-ride="carousel">-->
        <!--<div class="carousel-inner" role="listbox">-->
        <!--<div class="carousel-item active" style="background-image: url('{% static "." %}carousel1.jpg');">-->

        <!--</div>-->
        <!--<div class="carousel-item" style="background-image: url('{% static "." %}carousel2.jpg');">-->

        <!--</div>-->
        <!--<div class="carousel-item" style="background-image: url('{% static "." %}carousel3.jpg');">-->

        <!--</div>-->
        <!--</div>-->
        <!--<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">-->
        <!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
        <!--<span class="sr-only">Previous</span>-->
        <!--</a>-->
        <!--<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">-->
        <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>-->
        <!--<span class="sr-only">Next</span>-->
        <!--</a>-->
        <!--</div>-->

        <div class="games-list">

            {% if games %}
                {% for game in games %}
                    {% if not game.passed %}

                        <div class="game-container" game-id="{{ game.id }}">

                            <div class="game-date-container"><p class="game-date">{{ game.date }}</p></div>

                            <div class="bet-error">
                                {% if bet_placed %}
                                    <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Cannot place a bet on
                                        the same game more than once</p>
                                {% endif %}
                                {% if set %}
                                    <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Cannot place a bet on
                                        the same game more than once</p>
                                {% endif %}
                                {% if game_passed %}
                                    <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i> This game has already
                                        ended</p>
                                {% endif %}
                            </div>

                            <div class="game-players not-active">
                                <form class="game-bet-form main-bets">
                                    {% csrf_token %}
                                    <!--<div class="game-lock">-->
                                    <!--<i class="fa fa-lock" aria-hidden="true"></i>-->
                                    <!--</div>-->
                                    <div class="btn-group main-bet-button-group">
                                        <button class="team-1 game-bet-btn main-bet" name="tw_home" type="button" game="{{ game.home_team }} vs {{ game.away_team }}" bet="{{ game.home_team }} to win" value="{{ game.id }},{{ game.tw_home }}">
                                            <div class="team-image">
                                                <div class="helper">
                                                    <img src="{% static '.' %}{{ game.home_team }}.svg" alt="Home team logo"
                                                         width="100%">
                                                </div>
                                            </div>
                                            <p class="home">{{ game.home_team }}</p>
                                            <span class="odds">{{ game.tw_home|filter_odds:3 }}</span>
                                        </button>
                                        <button class="indicator-column game-bet-btn main-bet" name="tw_draw" type="button" game="{{ game.home_team }} vs {{ game.away_team }}" bet="Draw" value="{{ game.id }},{{ game.tw_draw }}">
                                            <p class="vs">DRAW</p>
                                            <span class="odds">{{ game.tw_draw|filter_odds:3 }}</span>
                                        </button>
                                        <button class="team-2 game-bet-btn main-bet" name="tw_away" type="button" game="{{ game.home_team }} vs {{ game.away_team }}" bet="{{ game.away_team }} to win" value="{{ game.id }},{{ game.tw_away }}">
                                            <div class="team-image">
                                                <div class="helper">
                                                    <img src="{% static '.' %}{{ game.away_team }}.svg" alt="Away team logo"
                                                         width="100%">
                                                </div>
                                            </div>
                                            <p class="away">{{ game.away_team }}</p>
                                            <span class="odds">{{ game.tw_away|filter_odds:3 }}</span>
                                        </button>
                                    </div>
                                </form>
                            </div>

                            <div class="collapse" id="{{ game.id }}">
                                <hr class="extra-bets-divider">
                                <form class="game-bet-form extra-bets">
                                    {% csrf_token %}
                                    <p hidden>{{ game.home_team }} vs {{ game.away_team }}</p>
                                    <div class="btn-group extra-bet-button-group">
                                        <button class="game-bet-btn extra-bet" type="button" name="dc_home_draw" game="{{ game.home_team }} vs {{ game.away_team }}" bet="{{ game.home_team }} or Draw"
                                                value="{{ game.id }},{{ game.dc_home_draw }}">{{ game.home_team }} or Draw
                                            <span class="odds">{{ game.dc_home_draw|filter_odds:3 }}</span></button>
                                        <button class="game-bet-btn extra-bet" type="button" name="dc_home_away" game="{{ game.home_team }} vs {{ game.away_team }}" bet="{{ game.home_team }} or {{ game.away_team }}"
                                                value="{{ game.id }},{{ game.dc_away_draw }}">{{ game.home_team }}
                                            or {{ game.away_team }} <span class="odds">{{ game.dc_home_away|filter_odds:3 }}</span></button>
                                        <button class="game-bet-btn extra-bet" type="button" name="dc_away_draw" game="{{ game.home_team }} vs {{ game.away_team }}" bet="{{ game.away_team }} or Draw"
                                                value="{{ game.id }},{{ game.dc_away_draw }}">{{ game.away_team }} or Draw
                                            <span class="odds">{{ game.dc_away_draw|filter_odds:3 }}</span></button>
                                    </div>
                                </form>

                                <form class="game-bet-form extra-bets">
                                    {% csrf_token %}
                                    <p hidden>{{ game.home_team }} vs {{ game.away_team }}</p>
                                    <div class="btn-group extra-bet-button-group">
                                        <button class="game-bet-btn extra-bet" type="button" name="dc_home_away" game="{{ game.home_team }} vs {{ game.away_team }}" bet="Under 0.5"
                                                value="{{ game.id }},{{ game.under05 }}">Under 0.5
                                            <span class="odds">{{ game.under05|filter_odds:3 }}</span></button>
                                        <button class="game-bet-btn extra-bet" type="button" name="dc_home_draw" game="{{ game.home_team }} vs {{ game.away_team }}" bet="Over 0.5"
                                                value="{{ game.id }},{{ game.over05 }}">Over 0.5
                                            <span class="odds">{{ game.over05|filter_odds:3 }}</span></button>
                                        <button class="game-bet-btn extra-bet" type="button" name="dc_home_draw" game="{{ game.home_team }} vs {{ game.away_team }}" bet="Under 1.5"
                                                value="{{ game.id }},{{ game.under15 }}">Under 1.5
                                            <span class="odds">{{ game.under15|filter_odds:3 }}</span></button>
                                        <button class="game-bet-btn extra-bet" type="button" name="dc_home_draw" game="{{ game.home_team }} vs {{ game.away_team }}" bet="Over 1.5"
                                                value="{{ game.id }},{{ game.over15 }}">Over 1.5
                                            <span class="odds">{{ game.over15|filter_odds:3 }}</span></button>
                                        <button class="game-bet-btn extra-bet" type="button" name="dc_home_draw" game="{{ game.home_team }} vs {{ game.away_team }}" bet="Under 2.5"
                                                value="{{ game.id }},{{ game.under25 }}">Under 2.5
                                            <span class="odds">{{ game.under25|filter_odds:3 }}</span></button>
                                        <button class="game-bet-btn extra-bet" type="button" name="dc_home_draw" game="{{ game.home_team }} vs {{ game.away_team }}" bet="Over 2.5"
                                                value="{{ game.id }},{{ game.over25 }}">Over 2.5
                                            <span class="odds">{{ game.over25|filter_odds:3 }}</span></button>
                                        <button class="game-bet-btn extra-bet" type="button" name="dc_away_draw" game="{{ game.home_team }} vs {{ game.away_team }}" bet="Under 3.5"
                                                value="{{ game.id }},{{ game.under35 }}">Under 3.5
                                            <span class="odds">{{ game.under35|filter_odds:3 }}</span></button>
                                        <button class="game-bet-btn extra-bet" type="button" name="dc_away_draw" game="{{ game.home_team }} vs {{ game.away_team }}" bet="Over 3.5"
                                                value="{{ game.id }},{{ game.over35 }}">Over 3.5
                                            <span class="odds">{{ game.over35|filter_odds:3 }}</span></button>
                                    </div>
                                </form>

                                <form class="game-bet-form extra-bets">
                                    {% csrf_token %}
                                    <p hidden>{{ game.home_team }} vs {{ game.away_team }}</p>
                                    <div class="btn-group extra-bet-button-group">
                                        <button class="game-bet-btn extra-bet" type="button" name="btts_yes" game="{{ game.home_team }} vs {{ game.away_team }}" bet="Both teams to score - Yes"
                                                value="{{ game.id }},{{ game.btts_yes }}">Both teams to score - Yes
                                            <span class="odds">{{ game.btts_yes|filter_odds:3 }}</span></button>
                                        <button class="game-bet-btn extra-bet" type="button" name="btts_no" game="{{ game.home_team }} vs {{ game.away_team }}" bet="Both teams to score - No"
                                                value="{{ game.id }},{{ game.btts_no }}">Both teams to score - No
                                            <span class="odds">{{ game.btts_no|filter_odds:3 }}</span></button>
                                    </div>
                                </form>

                            </div>
                            <div class="button-row-centred">
                                <button class="btn btn-custom-small text-toogle" type="button" data-toggle="collapse"
                                        data-target="#{{ game.id }}" aria-expanded="false"
                                        aria-controls="collapseExample">
                                    <span class="text-collapsed">More Bet Options <i class="fa fa-chevron-down"
                                                                         aria-hidden="true"></i></span>
                                    <span class="text-expanded">Close <i class="fa fa-chevron-up" aria-hidden="true"></i></span>
                                </button>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <!--Standings-->
        <!--<div class="col-md-3">-->
        <!--{% if global_standing %}-->
            <!--<ul>-->
            <!--<li>Position in Global standing: {{ global_standing }}</li>-->
            <!--</ul>-->
            <!--{% endif %}-->
        <!--{% if supporter_standing %}-->
            <!--<ul>-->
            <!--<li>Position in {{ supporter_pool }}: {{ supporter_standing }}</li>-->
            <!--</ul>-->
            <!--{% endif %}-->
        <!--{% if user_pools %}-->
            <!--{% for pool in user_pools %}-->
                <!--<ul>-->
                <!--<li>Position in {{ pool.pool_name }}: {{ pool.pool_standing }}</li>-->
                <!--</ul>-->
                <!--{% endfor %}-->
            <!--{% else %}-->
            <!--<ul>-->
            <!--<li>Not entered into any custom pools, Get some mates.</li>-->
            <!--</ul>-->
            <!--{% endif %}-->
        <!--</div>-->
    </div>

{% endblock %}
{% block right_sidebar %}
    {% include 'tabs/right-sidebar.html' %}
{% endblock %}