{% extends "accounts/base.html" %}
{% block body_block %}

<div class="full-background">
    {% if user.is_authenticated %}
        <!--<h2>Welcome {{ user.username }}!</h2>-->
    {% else %}
        <div class="container">
            {% load staticfiles %}
            <div class="jumbotron landing-login">
                <div class="container">
                    <div class="row">
                        <div class="col-8">
                            <h1 class="display-3">Welcome to PuntDoctor</h1>
                            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                        </div>
                        <div class="col-4 text-right">
                            <img src="{% static "doctor.png" %}" alt="PuntDoctor Logo" width="200">
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="row">
                        <div class="col">
                            <form class="form-inline" method="post" action="{% url 'accounts:user_login' %}">
                                {% csrf_token %}
                                <label class="sr-only" for="inlineFormInput">Name</label>
                                <input type="text" name="username" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Username">
                                <label class="sr-only" for="inlineFormInputGroup">Username</label>
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <input type="text" name="password" class="form-control" id="inlineFormInputGroup" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <a class="register-button" href="{% url 'accounts:register' %}">Register</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

<div style="background: #9fc2d4; margin: 0 -1em 0 -2em">
    <div  class="container">
        <div class="row landing-info">
            <div class="col p-5">
                <h1>Call to action one</h1>
                <h5 class="mb-3">These are some reasons</h5>
                <ul>
                    <li><h6>This is a reason</h6></li>
                    <li><h6>Another reason</h6></li>
                    <li><h6>One more reason</h6></li>
                </ul>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</div>

<div style="background: #69a2bf; margin: 0 -1em 0 -2em">
    <div  class="container">
        <div class="row landing-info">
            <div class="col p-5">
            </div>
            <div class="col p-5">
                <h1>Call to action two</h1>
                <h5 class="mb-3">These are some reasons</h5>
                <ul>
                    <li><h6>This is a reason</h6></li>
                    <li><h6>Another reason</h6></li>
                    <li><h6>One more reason</h6></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div style="background: #9fc2d4; margin: 0 -1em 0 -2em">
    <div  class="container">
        <div class="row landing-info">
            <div class="col p-5">
                <h1>Call to action three</h1>
                <h5 class="mb-3">These are some reasons</h5>
                <ul>
                    <li><h6>This is a reason</h6></li>
                    <li><h6>Another reason</h6></li>
                    <li><h6>One more reason</h6></li>
                </ul>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</div>

{% endblock %}