{% extends "accounts/base.html" %}
{% load staticfiles %}

{% block body_block %}
    <div class="registration-page">
        <div class="register-form">
            <form method="post">
            {% csrf_token %}
            {% for field in form %}
                {{ field.label_tag }} <br>
                {{ field }}
                {% if field.help_text %}
                    <small style="display: none">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: gold">{{ error }}</p>
                {% endfor %}
            {% endfor %}
            <input class="btn btn-link" type="submit" name="" value="Set Password">
            </form>
        </div>
    </div>
{% endblock %}
