{% extends "accounts/base.html" %}
{% load staticfiles %}

{% block body_block %}
<div class="registration-page">
    <div class="register-form">
        <form method="post">
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
          <label for="email">Email Address: </label>
          <input type="text" name="email">
          <input type="submit" name="" value="Reset Password">
            {% if email_sent %}
            <p style="color: whitesmoke">Email sent, please check your inbox for a link to reset your password.</p>
            {% endif %}
            {% if not user_valid %}
            <p style="color: whitesmoke">Email: {{ email_address }} not associated with a user.</p>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
