{% extends "accounts/base.html" %}
{% load staticfiles %}
{% block javascript %}
<script>
    $("#id_username").change(function () {
        var username = $(this).val();
        $.ajax({
            url: "{% url 'accounts:validate_username' %}",
            data: {
                'username': username
            },
            dataType: 'json',
            success: function (data) {
                if (data.is_taken) {
                    // TODO: change color of username block to orange
                    alert("A user with this username already exists.");
                }
            }
        });
    });
</script>
{% endblock %}
{% block body_block %}
<div class="registration-page">
    {% if registered %}
    <h1>Thanks for registering!</h1>
    {% else %}
    <section class="container registration-form">
        <div class="register-form">
            <section>
                <div class="row">
                    <div style="border-right: solid 1px #5f7c8a;" class="col-6">
                        <h4 style="color:white" class="text-left">Login</h4>
                        <hr>
                        {% if registered %}
                        <h1>Thank you for registering!</h1>
                        {% else %}
                        <form enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="login" value="true">
                            {{ user_login_form.as_p }}
                            {% if password_incorrect %}
                                <p style="color: gold">Username and password do not match</p>
                            {% endif %}
                            <input class="btn btn-link" type="submit" name="" value="Login">
                        </form>
                        {% endif %}
                        <a href="{% url 'accounts:forgot_password' %}" class="forgot-password">Forgot Password</a>
                    </div>
                    <div class="col-6">
                        <h4 style="color:white" class="text-left">Register</h4>
                        <hr>
                        {% if registered %}
                        <h1>Thank you for registering!</h1>
                        {% else %}
                        <form enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="register" value="true">
                            {% for field in user_registration_form %}
                            {{ field.label_tag }} <br>
                            {{ field }}
                            {% if field.help_text %}
                                <small style="display: none">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: gold">{{ error }}</p>
                            {% endfor %}
                            {% endfor %}
                            {% if email_sent %}
                            <p style="color: white">Email sent, please click on the link to activate your account</p>
                            {% endif %}
                            <input class="btn btn-link" type="submit" name="" value="Register">
                        </form>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
    </section>
    {% endif %}
    <div class="bottom-spacer"></div>
</div>
{% endblock %}
