{% extends 'accounts/base.html' %}

{% block left_sidebar %}
    {% include "tabs/left-sidebar.html" %}
{% endblock %}

{% block body_block %}
    <div class="main-content">
        <h2>Transactions</h2>
        <hr class="my-3">
        {% if transactions_to_render %}
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#all" role="tab">All Bets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#won" role="tab">Wins</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#lost" role="tab">Losses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#pending" role="tab">Pending</a>
            </li>
        </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="all" role="tabpanel">
                    <table style="width: 100%;" class="table-sm transactions-table">
                        <tbody>
                        {% for transaction in transactions_to_render %}
                            <tr class="combined-row">
                                {% if transaction.status == "WIN" %}
                                <td class="transaction-status win"><p><i class="fa fa-thumbs-up" aria-hidden="true"></i><br><span>{{ transaction.status }}</span></p></td>
                                {% endif %}
                                {% if transaction.status == "PENDING" %}
                                <td class="transaction-status pending"><p><i class="fa fa-clock-o" aria-hidden="true"></i><br><span>{{ transaction.status }}</span></p></td>
                                {% endif %}
                                {% if transaction.status == "LOSE" %}
                                <td class="transaction-status lose"><p><i class="fa fa-thumbs-down" aria-hidden="true"></i><br><span>{{ transaction.status }}</span></p></td>
                                {% endif %}
                                <td style="padding: 0px 6px;">
                                    <div style="max-height: 6em" class="bets-list">
                                        <div style="width:100%" class="bets">
                                            {% for betform in transaction.betform %}
                                                <div class="bets-row" style="display: flex;">
                                                    <div style="flex:8;padding: 0;" class="bet-game-container">
                                                        <div class="bet-game-name">{{ betform.game }}</div>
                                                        <div class="bet-breakdown">
                                                            <div style="flex:2;padding: 0 0 0 5px;">
                                                                {% if  betform.bet == 'tw_home' %}
                                                                <span>{{ betform.game.home_team }} to Win</span>
                                                                {% elif  betform.bet == 'tw_away' %}
                                                                <span>{{ betform.game.away_team }} to Win</span>
                                                                {% elif  betform.bet == 'tw_draw' %}
                                                                <span>Draw</span>
                                                                {% elif  betform.bet == 'dc_home_away' %}
                                                                <span>{{ betform.game.home_team }} or {{ betform.game.away_team }} to Win</span>
                                                                {% elif  betform.bet == 'dc_home_draw' %}
                                                                <span>{{ betform.game.home_team }} to win or Draw</span>
                                                                {% elif  betform.bet == 'dc_away_draw' %}
                                                                <span>{{ betform.game.away_team }} to Win or Draw</span>
                                                                {% elif  betform.bet == 'over05' %}
                                                                <span>Over 0.5</span>
                                                                {% elif  betform.bet == 'under05' %}
                                                                <span>Under 0.5</span>
                                                                {% elif  betform.bet == 'over15' %}
                                                                <span>Over 1.5</span>
                                                                {% elif  betform.bet == 'under15' %}
                                                                <span>Under 1.5</span>
                                                                {% elif  betform.bet == 'over25' %}
                                                                <span>Over 2.5</span>
                                                                {% elif  betform.bet == 'under25' %}
                                                                <span>Under 2.5</span>
                                                                {% elif  betform.bet == 'over35' %}
                                                                <span>Over 3.5</span>
                                                                {% elif  betform.bet == 'under35' %}
                                                                <span>Under 2.5</span>
                                                                {% elif  betform.bet == 'btts_yes' %}
                                                                <span>Both Teams to Score - Yes</span>
                                                                {% elif  betform.bet == 'btts_no' %}
                                                                <span>Both Teams to Score - No</span>
                                                                {% endif %}
                                                            </div>
                                                            <div style="flex:1">
                                                                Odds: {{ betform.odds }}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div style="flex:1;" class="bet-outcome-container">
                                                        {% if betform.status == 'WIN' %}
                                                        <div class="outcome-cell win-cell" style="flex:1">
                                                            <div class="bet-win"><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                                <!--<span>Win</span>-->
                                                            </div>
                                                        </div>
                                                        {% elif betform.status == 'LOSE' %}
                                                        <div class="outcome-cell lose-cell" style="flex:1">
                                                            <div class="bet-lose"><i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                                                <!--<span>Lose</span>-->
                                                            </div>
                                                        </div>
                                                        {% elif betform.status == 'PENDING' %}
                                                        <div class="outcome-cell pending-cell" style="flex:1">
                                                            <div class="bet-pending"><i class="fa fa-clock-o" aria-hidden="true"></i>
                                                                <!--<span>Pending</span>-->
                                                            </div>
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </td>
                                <td class="bet-count">
                                    {% if transaction.betform|length >= 2 %}
                                        <p class="showAll">{{ transaction.betform|length }} Games<br><span class="show-all-button">Show All</span></p>
                                    {% elif transaction.betform|length == 2 %}
                                        <p class="showAll">{{ transaction.betform|length }} Games<br><span class="show-all-button">Show All</span></p>
                                    {% else %}
                                        <p>{{ transaction.betform|length }} Game</p>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if transaction.status == "WIN" %}
                                    <div class="stand-to-win-cell"><p>Won<br><span>R{{ transaction.stand_to_win }}</span></p></div>
                                    {% endif %}
                                    {% if transaction.status == "PENDING" %}
                                    <div class="stand-to-win-cell"><p>Stand to win<br><span>R{{ transaction.stand_to_win }}</span></p></div>
                                    {% endif %}
                                    {% if transaction.status == "LOSE" %}
                                    <div class="stand-to-win-cell"><p>Stood to win<br><span>R{{ transaction.stand_to_win }}</span></p></div>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr class="spacer-row"></tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="won" role="tabpanel">
                    <!--Successful/Won Bets-->
                    <table style="width: 100%;" class="table-sm transactions-table">
                        <tbody>
                        {% for transaction in transactions_to_render %}
                        {% if transaction.status == "WIN" %}
                        <tr class="combined-row">
                            {% if transaction.status == "WIN" %}
                            <td class="transaction-status win"><p><i class="fa fa-thumbs-up" aria-hidden="true"></i><br><span>{{ transaction.status }}</span></p></td>
                            {% endif %}
                            {% if transaction.status == "PENDING" %}
                            <td class="transaction-status pending"><p><i class="fa fa-clock-o" aria-hidden="true"></i><br><span>{{ transaction.status }}</span></p></td>
                            {% endif %}
                            {% if transaction.status == "LOSE" %}
                            <td class="transaction-status lose"><p><i class="fa fa-thumbs-down" aria-hidden="true"></i><br><span>{{ transaction.status }}</span></p></td>
                            {% endif %}
                            <td style="padding: 0px 6px;">
                                <div style="max-height: 6em" class="bets-list">
                                    <div style="width:100%" class="bets">
                                        {% for betform in transaction.betform %}
                                        <div class="bets-row" style="display: flex;">
                                            <div style="flex:8;padding: 0;" class="bet-game-container">
                                                <div class="bet-game-name">{{ betform.game }}</div>
                                                <div class="bet-breakdown">
                                                    <div style="flex:2;padding: 0 0 0 5px;">
                                                        {% if  betform.bet == 'tw_home' %}
                                                        <span>{{ betform.game.home_team }} to Win</span>
                                                        {% elif  betform.bet == 'tw_away' %}
                                                        <span>{{ betform.game.away_team }} to Win</span>
                                                        {% elif  betform.bet == 'tw_draw' %}
                                                        <span>Draw</span>
                                                        {% elif  betform.bet == 'dc_home_away' %}
                                                        <span>{{ betform.game.home_team }} or {{ betform.game.away_team }} to Win</span>
                                                        {% elif  betform.bet == 'dc_home_draw' %}
                                                        <span>{{ betform.game.home_team }} to win or Draw</span>
                                                        {% elif  betform.bet == 'dc_away_draw' %}
                                                        <span>{{ betform.game.away_team }} to Win or Draw</span>
                                                        {% elif  betform.bet == 'over05' %}
                                                        <span>Over 0.5</span>
                                                        {% elif  betform.bet == 'under05' %}
                                                        <span>Under 0.5</span>
                                                        {% elif  betform.bet == 'over15' %}
                                                        <span>Over 1.5</span>
                                                        {% elif  betform.bet == 'under15' %}
                                                        <span>Under 1.5</span>
                                                        {% elif  betform.bet == 'over25' %}
                                                        <span>Over 2.5</span>
                                                        {% elif  betform.bet == 'under25' %}
                                                        <span>Under 2.5</span>
                                                        {% elif  betform.bet == 'over35' %}
                                                        <span>Over 3.5</span>
                                                        {% elif  betform.bet == 'under35' %}
                                                        <span>Under 2.5</span>
                                                        {% elif  betform.bet == 'btts_yes' %}
                                                        <span>Both Teams to Score - Yes</span>
                                                        {% elif  betform.bet == 'btts_no' %}
                                                        <span>Both Teams to Score - No</span>
                                                        {% endif %}
                                                    </div>
                                                    <div style="flex:1">
                                                        Odds: {{ betform.odds }}
                                                    </div>
                                                </div>
                                            </div>

                                            <div style="flex:1;" class="bet-outcome-container">
                                                {% if betform.status == 'WIN' %}
                                                <div class="outcome-cell win-cell" style="flex:1">
                                                    <div class="bet-win"><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                        <!--<span>Win</span>-->
                                                    </div>
                                                </div>
                                                {% elif betform.status == 'LOSE' %}
                                                <div class="outcome-cell lose-cell" style="flex:1">
                                                    <div class="bet-lose"><i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                                        <!--<span>Lose</span>-->
                                                    </div>
                                                </div>
                                                {% elif betform.status == 'PENDING' %}
                                                <div class="outcome-cell pending-cell" style="flex:1">
                                                    <div class="bet-pending"><i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        <!--<span>Pending</span>-->
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                            <td class="bet-count">
                                {% if transaction.betform|length >= 2 %}
                                <p class="showAll">{{ transaction.betform|length }} Games<br><span class="show-all-button">Show All</span></p>
                                {% elif transaction.betform|length == 2 %}
                                <p class="showAll">{{ transaction.betform|length }} Games<br><span class="show-all-button">Show All</span></p>
                                {% else %}
                                <p>{{ transaction.betform|length }} Game</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if transaction.status == "WIN" %}
                                <div class="stand-to-win-cell"><p>Won<br><span>R{{ transaction.stand_to_win }}</span></p></div>
                                {% endif %}
                                {% if transaction.status == "PENDING" %}
                                <div class="stand-to-win-cell"><p>Stand to win<br><span>R{{ transaction.stand_to_win }}</span></p></div>
                                {% endif %}
                                {% if transaction.status == "LOSE" %}
                                <div class="stand-to-win-cell"><p>Stood to win<br><span>R{{ transaction.stand_to_win }}</span></p></div>
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="spacer-row"></tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="lost" role="tabpanel">
                    <!--Failed/Lost Bets-->
                    <table style="width: 100%;" class="table-sm transactions-table">
                        <tbody>
                        {% for transaction in transactions_to_render %}
                        {% if transaction.status == "LOSE" %}
                        <tr class="combined-row">
                            {% if transaction.status == "WIN" %}
                            <td class="transaction-status win"><p><i class="fa fa-thumbs-up" aria-hidden="true"></i><br><span>{{ transaction.status }}</span></p></td>
                            {% endif %}
                            {% if transaction.status == "PENDING" %}
                            <td class="transaction-status pending"><p><i class="fa fa-clock-o" aria-hidden="true"></i><br><span>{{ transaction.status }}</span></p></td>
                            {% endif %}
                            {% if transaction.status == "LOSE" %}
                            <td class="transaction-status lose"><p><i class="fa fa-thumbs-down" aria-hidden="true"></i><br><span>{{ transaction.status }}</span></p></td>
                            {% endif %}
                            <td style="padding: 0px 6px;">
                                <div style="max-height: 6em" class="bets-list">
                                    <div style="width:100%" class="bets">
                                        {% for betform in transaction.betform %}
                                        <div class="bets-row" style="display: flex;">
                                            <div style="flex:8;padding: 0;" class="bet-game-container">
                                                <div class="bet-game-name">{{ betform.game }}</div>
                                                <div class="bet-breakdown">
                                                    <div style="flex:2;padding: 0 0 0 5px;">
                                                        {% if  betform.bet == 'tw_home' %}
                                                        <span>{{ betform.game.home_team }} to Win</span>
                                                        {% elif  betform.bet == 'tw_away' %}
                                                        <span>{{ betform.game.away_team }} to Win</span>
                                                        {% elif  betform.bet == 'tw_draw' %}
                                                        <span>Draw</span>
                                                        {% elif  betform.bet == 'dc_home_away' %}
                                                        <span>{{ betform.game.home_team }} or {{ betform.game.away_team }} to Win</span>
                                                        {% elif  betform.bet == 'dc_home_draw' %}
                                                        <span>{{ betform.game.home_team }} to win or Draw</span>
                                                        {% elif  betform.bet == 'dc_away_draw' %}
                                                        <span>{{ betform.game.away_team }} to Win or Draw</span>
                                                        {% elif  betform.bet == 'over05' %}
                                                        <span>Over 0.5</span>
                                                        {% elif  betform.bet == 'under05' %}
                                                        <span>Under 0.5</span>
                                                        {% elif  betform.bet == 'over15' %}
                                                        <span>Over 1.5</span>
                                                        {% elif  betform.bet == 'under15' %}
                                                        <span>Under 1.5</span>
                                                        {% elif  betform.bet == 'over25' %}
                                                        <span>Over 2.5</span>
                                                        {% elif  betform.bet == 'under25' %}
                                                        <span>Under 2.5</span>
                                                        {% elif  betform.bet == 'over35' %}
                                                        <span>Over 3.5</span>
                                                        {% elif  betform.bet == 'under35' %}
                                                        <span>Under 2.5</span>
                                                        {% elif  betform.bet == 'btts_yes' %}
                                                        <span>Both Teams to Score - Yes</span>
                                                        {% elif  betform.bet == 'btts_no' %}
                                                        <span>Both Teams to Score - No</span>
                                                        {% endif %}
                                                    </div>
                                                    <div style="flex:1">
                                                        Odds: {{ betform.odds }}
                                                    </div>
                                                </div>
                                            </div>

                                            <div style="flex:1;" class="bet-outcome-container">
                                                {% if betform.status == 'WIN' %}
                                                <div class="outcome-cell win-cell" style="flex:1">
                                                    <div class="bet-win"><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                        <!--<span>Win</span>-->
                                                    </div>
                                                </div>
                                                {% elif betform.status == 'LOSE' %}
                                                <div class="outcome-cell lose-cell" style="flex:1">
                                                    <div class="bet-lose"><i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                                        <!--<span>Lose</span>-->
                                                    </div>
                                                </div>
                                                {% elif betform.status == 'PENDING' %}
                                                <div class="outcome-cell pending-cell" style="flex:1">
                                                    <div class="bet-pending"><i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        <!--<span>Pending</span>-->
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                            <td class="bet-count">
                                {% if transaction.betform|length >= 2 %}
                                <p class="showAll">{{ transaction.betform|length }} Games<br><span class="show-all-button">Show All</span></p>
                                {% elif transaction.betform|length == 2 %}
                                <p class="showAll">{{ transaction.betform|length }} Games<br><span class="show-all-button">Show All</span></p>
                                {% else %}
                                <p>{{ transaction.betform|length }} Game</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if transaction.status == "WIN" %}
                                <div class="stand-to-win-cell"><p>Won<br><span>R{{ transaction.stand_to_win }}</span></p></div>
                                {% endif %}
                                {% if transaction.status == "PENDING" %}
                                <div class="stand-to-win-cell"><p>Stand to win<br><span>R{{ transaction.stand_to_win }}</span></p></div>
                                {% endif %}
                                {% if transaction.status == "LOSE" %}
                                <div class="stand-to-win-cell"><p>Stood to win<br><span>R{{ transaction.stand_to_win }}</span></p></div>
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="spacer-row"></tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="pending" role="tabpanel">
                    <!--Pending Bets-->
                    <table style="width: 100%;" class="table-sm transactions-table">
                        <tbody>
                        {% for transaction in transactions_to_render %}
                        {% if transaction.status == "PENDING" %}
                        <tr class="combined-row">
                            {% if transaction.status == "WIN" %}
                            <td class="transaction-status win"><p><i class="fa fa-thumbs-up" aria-hidden="true"></i><br><span>{{ transaction.status }}</span></p></td>
                            {% endif %}
                            {% if transaction.status == "PENDING" %}
                            <td class="transaction-status pending"><p><i class="fa fa-clock-o" aria-hidden="true"></i><br><span>{{ transaction.status }}</span></p></td>
                            {% endif %}
                            {% if transaction.status == "LOSE" %}
                            <td class="transaction-status lose"><p><i class="fa fa-thumbs-down" aria-hidden="true"></i><br><span>{{ transaction.status }}</span></p></td>
                            {% endif %}
                            <td style="padding: 0px 6px;">
                                <div style="max-height: 6em" class="bets-list">
                                    <div style="width:100%" class="bets">
                                        {% for betform in transaction.betform %}
                                        <div class="bets-row" style="display: flex;">
                                            <div style="flex:8;padding: 0;" class="bet-game-container">
                                                <div class="bet-game-name">{{ betform.game }}</div>
                                                <div class="bet-breakdown">
                                                    <div style="flex:2;padding: 0 0 0 5px;">
                                                        {% if  betform.bet == 'tw_home' %}
                                                        <span>{{ betform.game.home_team }} to Win</span>
                                                        {% elif  betform.bet == 'tw_away' %}
                                                        <span>{{ betform.game.away_team }} to Win</span>
                                                        {% elif  betform.bet == 'tw_draw' %}
                                                        <span>Draw</span>
                                                        {% elif  betform.bet == 'dc_home_away' %}
                                                        <span>{{ betform.game.home_team }} or {{ betform.game.away_team }} to Win</span>
                                                        {% elif  betform.bet == 'dc_home_draw' %}
                                                        <span>{{ betform.game.home_team }} to win or Draw</span>
                                                        {% elif  betform.bet == 'dc_away_draw' %}
                                                        <span>{{ betform.game.away_team }} to Win or Draw</span>
                                                        {% elif  betform.bet == 'over05' %}
                                                        <span>Over 0.5</span>
                                                        {% elif  betform.bet == 'under05' %}
                                                        <span>Under 0.5</span>
                                                        {% elif  betform.bet == 'over15' %}
                                                        <span>Over 1.5</span>
                                                        {% elif  betform.bet == 'under15' %}
                                                        <span>Under 1.5</span>
                                                        {% elif  betform.bet == 'over25' %}
                                                        <span>Over 2.5</span>
                                                        {% elif  betform.bet == 'under25' %}
                                                        <span>Under 2.5</span>
                                                        {% elif  betform.bet == 'over35' %}
                                                        <span>Over 3.5</span>
                                                        {% elif  betform.bet == 'under35' %}
                                                        <span>Under 2.5</span>
                                                        {% elif  betform.bet == 'btts_yes' %}
                                                        <span>Both Teams to Score - Yes</span>
                                                        {% elif  betform.bet == 'btts_no' %}
                                                        <span>Both Teams to Score - No</span>
                                                        {% endif %}
                                                    </div>
                                                    <div style="flex:1">
                                                        Odds: {{ betform.odds }}
                                                    </div>
                                                </div>
                                            </div>

                                            <div style="flex:1;" class="bet-outcome-container">
                                                {% if betform.status == 'WIN' %}
                                                <div class="outcome-cell win-cell" style="flex:1">
                                                    <div class="bet-win"><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                        <!--<span>Win</span>-->
                                                    </div>
                                                </div>
                                                {% elif betform.status == 'LOSE' %}
                                                <div class="outcome-cell lose-cell" style="flex:1">
                                                    <div class="bet-lose"><i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                                        <!--<span>Lose</span>-->
                                                    </div>
                                                </div>
                                                {% elif betform.status == 'PENDING' %}
                                                <div class="outcome-cell pending-cell" style="flex:1">
                                                    <div class="bet-pending"><i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        <!--<span>Pending</span>-->
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                            <td class="bet-count">
                                {% if transaction.betform|length >= 2 %}
                                <p class="showAll">{{ transaction.betform|length }} Games<br><span class="show-all-button">Show All</span></p>
                                {% elif transaction.betform|length == 2 %}
                                <p class="showAll">{{ transaction.betform|length }} Games<br><span class="show-all-button">Show All</span></p>
                                {% else %}
                                <p>{{ transaction.betform|length }} Game</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if transaction.status == "WIN" %}
                                <div class="stand-to-win-cell"><p>Won<br><span>R{{ transaction.stand_to_win }}</span></p></div>
                                {% endif %}
                                {% if transaction.status == "PENDING" %}
                                <div class="stand-to-win-cell"><p>Stand to win<br><span>R{{ transaction.stand_to_win }}</span></p></div>
                                {% endif %}
                                {% if transaction.status == "LOSE" %}
                                <div class="stand-to-win-cell"><p>Stood to win<br><span>R{{ transaction.stand_to_win }}</span></p></div>
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="spacer-row"></tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            No transactions to render - Are you logged in?
        {% endif %}
    </div>

    <script>
        $('#myTab a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })

        $('.showAll').click(function (e) {
            e.preventDefault();
            console.log('working');
            if ($(this).find('.show-all-button').html() === 'Show All' ) {
                $(this).find('.show-all-button').html('Collapse');
                $(this).closest('.combined-row').find('.bets-list').css('max-height','none')
            } else {
                $(this).find('.show-all-button').html('Show All');
                $(this).closest('.combined-row').find('.bets-list').css('max-height','6em')
            }
        })

    </script>
{% endblock %}