
  div.main-page-container {
    display: flex;
    background-image: url(https://storage.googleapis.com/static-cloud/static/stadium_background_colour.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 100%;
  }

  /*General*/
  body {
    background: #f5f5f5 !important;
  }

  div.page-content {
    flex: 1;
    margin: 1em;
  }

  div.left-sidebar {
    height:40em;
    padding: 0;
    min-height: 1200px;
    flex: 0 0 280px;
  }

  div.right-sidebar {
    height:40em;
    margin-top: 1em;
    flex: 0 0 300px
  }

  /*Footer*/
  .main-footer {
    width: 100%;
    border-bottom: solid 40px #151515;
  }

  footer {
    padding-top: 30px;
    background-color: #292c2f;
    color: #bbb;
  }

  .footer-copyright {
    font-size: 11px;
    color: #bbb;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 0px;
  }

  .footer-logo {
    font-family: 'Exo', sans-serif;
    color: whitesmoke;
    font-weight: 600;
  }

  footer a {
    color: #999;
    text-decoration:none;
  }

  footer a:hover, footer a:focus {
    color: #aaa;
    text-decoration:none;
    border-bottom:1px dotted #999;
  }

  footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
  }

  .bottom-spacer {
    clear: both;
    height: 6em
  }

  /*Containers*/
  div.newsreel-center {
    background: #171717;
    margin-bottom: 0.5em;
    height: 10em;
    overflow: hidden;
  }

  div.newsreel-center iframe {
    max-width: 100%;
    margin-top: -10em;
  }

  /*Games*/
  .games-list {
    margin-top: -1em;
  }

  div.game-marquee marquee {
    background: whitesmoke;
    margin: 0 3em;
    padding: 2px;
    border-radius: 0.25rem;
  }

  div.team-image {
    white-space: nowrap;
    text-align: center;
    margin: auto;
  }

  div.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  div.team-image img {
    vertical-align: middle;
    max-height: 2.5em;
    max-width: 2.5em;
  }

  div.game-sport {
    background: #dadada;
    padding: 5px 5px 5px 10px;
    font-size: small;
  }

  div.game-container {
    margin: 1em 0;
    background: white;
    border-radius: 0.25rem;
  }

  div.game-competition {
    background: #777;
    padding: 5px 5px 5px 10px;
    font-size: small;
    color: #111  }

  div.game-date-container {
    width: 100%;
    text-align: center;
  }

  p.game-date {
    background: #f5f5f5;
    display: inline-block;
    text-align: center;
    font-size: medium;
    padding: 2px 20px;
    color: #465f6b;
    border-radius: 0 0 5px 5px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  /*Inactive Game*/
  div.game-lock {
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    transition: opacity .5s;
    background: indianred;
  }


  /*Active Game*/

  div.main-bet-button-group {
    width: 100%;
  }

  form.game-bet-form.main-bets {
    width: 100%
  }

  div.extra-bet-button-group {
    width: 100%;
    display: flex;
    margin: 4px 0 0;
    border-radius: 5px;
  }

  hr.extra-bets-divider {
    margin: 1em
  }

  div.extra-bet-button-group button {
    flex: 1;
    border: none;
    font-size: 13px
  }

  form.game-bet-form.extra-bets {
    width: 100%
  }

  div.game-players {
    font-size: medium;
    color: #333333;
    display: flex;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  div.game-players p {
    margin: 0;
    padding: 5px;
    font-weight: 600;
    font-size: medium;
  }

  div.game-players > div {
    text-align: center;
  }

  div.game-players button.team-1 {
    background-repeat: no-repeat;
    background-position: -5em -5em;
    background-size: 400px;
    z-index: 5;
  }

  div.game-players button.team-2 {
    background-repeat: no-repeat;
    background-position: 5em -5em;
    background-size: 400px;
    z-index: 5;
  }


  div.game-players button.team-1, div.game-players button.team-2 {
    flex: 4;
    padding: 20px 10px 0px 10px
  }

  div.game-players button.indicator-column {
    flex: 3
  }

  button.indicator-column p.vs {
    font-size: 2.5em;
    padding: 0;
    margin-top: 10px;
    color: rgba(96, 125, 139, 0.11);
  }

  div.game-buttons {
    display: flex;
  }

  div.game-buttons a {
    flex: 1;
    background: #333333;
    padding: 5px 10px;
    text-align: left;
    font-size: small;
    color: #bbb
  }

  div.game-buttons a:hover {
    text-decoration: none;
    background: #555;
  }

  div.game-buttons a:not(:last-child) {
    border-right: solid 1px #444444;
  }

  div.game-buttons a span {
    color: #00daac;
    letter-spacing: 2px;
  }

  div.game-buttons a:active, div.game-buttons a:focus, div.game-buttons a:active span, div.game-buttons a:focus span {
    outline: none;
    text-decoration: none;
  }

  button.chosen-bet {
    background: #00daac !important;
    color: white !important;
    text-decoration: none;
  }

  button.chosen-bet span.odds {
    color: #008c6e !important;
    background: none
  }

  button.chosen-bet p.vs {
    color: white !important;
  }

  form.game-bet-form {
    display: flex;
    padding: 0px 10px;
  }

  .chosen-bet {
    background: #00daac;
    color: #222;
    text-decoration: none;
    outline: none;
    border-radius: 1em;
  }

  form.game-bet-form button.main-bet {
    flex: 1;
    padding: 5px 0px;
    font-size: small;
    color: #465f6b;
    border: none;
    text-align: center;
  }

  button.game-bet-btn-main-main {
    background: #f1f4f5 !important;
  }

  form.game-bet-form button.game-bet-btn > span {
    font-weight: 700;
    display: block;
    color: #00daac;
  }

  form.game-bet-form button.game-bet-btn:hover {
    text-decoration: none;
    cursor: pointer;
  }

  button.game-bet-btn.main-bet:hover {
    transform: scale(1.4);
    transition: all .25s ease;
    z-index: 10000;
    background: none;
  }

  button.game-bet-btn.main-bet {
    transition: all .25s ease;
    background: none;
  }

  button.game-bet-btn.extra-bet:hover {
    transform: scale(1.1);
    transition: all .25s ease;
    z-index: 10000;
    background: #fdfdfd;
  }

  button.game-bet-btn.extra-bet {
    transition: all .25s ease;
    background: none;
    margin: 0 2px;
    background: whitesmoke;
  }

  form.game-bet-form button.game-bet-btn:active, form.game-bet-form button.game-bet-btn:focus, form.game-bet-form button.game-bet-btn:active span, form.game-bet-form button.game-bet-btn:focus span {
    outline: none
  }

  form.extra-bets button.game-bet-btn {
    border-radius: 2px;
  }

  form.extra-bets button.game-bet-btn.btn-middle {
    margin: 0px 10px ;
  }

  div.bet-type {
    text-align: center;
    font-size: smaller;
    background: #444444;
    color: #dadada;
  }

  /*Buttons*/

  .text-toogle[aria-expanded=false] .text-expanded {
    display: none;
  }
  .text-toogle[aria-expanded=true] .text-collapsed {
    display: none;
  }

  button.text-toogle:focus {
    outline: none;
    box-shadow: none;
  }

  .button-row-centred {
    text-align: center;
  }

  .btn-custom {
    background: #607D8B !important;
    color: white
  }

  .btn-custom:hover {
    background: #738f9c !important;
    color: white
  }

  button.btn-custom-small {
    padding: 1px 6px;
    font-size: small;
    text-align: center;
    background: white;
    color: #3f545f;
    margin: 5px;
  }

  button.btn-custom-small i {
    font-size: smaller;
  }

  /*Headers*/
  .box-header {
    color: white;
    font-weight: 600;
    background: #46606c;
    text-align: center;
    padding: 5px;
    margin: 0;
    text-transform: uppercase;
    border-radius: .25rem .25rem 0 0;
    font-size: medium;
  }

  /*Ticker 2*/

  div.slip-item {
    background: #3f545f
  }

  div.selection-row.ticker-row > span {
    color: #00daac;
  }

  div.stake-row {
    padding: 15px 10px;
  }

  div.stake-row input.place-bet  {
    background: #333333;
    padding: 5px 10px;
    color: #bbb;
    border: none;
  }

  div.stake-row input.place-bet:hover {
    text-decoration: none;
    background: #555;
    cursor: pointer;
  }

  div.stake-row input.place-bet:active, div.stake-row input.place-bet:focus {
    background: #00daac;
    color: #222;
    text-decoration: none;
    outline: none
  }

  div.slip-item button.clear-bet {
    float: right;
    margin-right: 5px;
    font-size: small;
    padding: 0px 4px;
    border-radius: 0.25rem;
    border: none;
    background: #607d8b;
    color: #3f545f;
  }

  div.slip-item button.clear-bet:hover {
    background: whitesmoke;
    cursor: pointer;
  }

  div.slip-item button.clear-bet:active, div.slip-item button.clear-bet:focus {
    outline: none
  }

  /*Ticker*/
  div.ticker-row {
    padding: 10px 5px 0px 10px
  }

  div.selection-row {
    color: #fff
  }

  div.game-row {
    color: #bbb;
    font-size: small;
  }

  a.remove-slip-item {
    color: #999;
    margin-right: 5px;
    float: right;
  }

  a.remove-slip-item:hover {
    color: #ccc;
  }

  ul.slip-items {
    background: #222;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul.slip-items > li {
    border-bottom: solid 1px #333;
  }

  div.stake-row input {
    display: inline-block;
    border-radius: 0;
    background: #333;
    padding:5px;
    border: none;
    color: #ccc;
  }

  div.stake-row input:focus {
    background: #444;
    border: solid 1px #666;
    outline: none;
  }

  div.stake-buttons {
    margin: 1em 0;
  }

  button.btn-stake {
    background: #333333;
    border-radius: 0;
    color: #bbb;
  }

  button.btn-stake:hover {
    background: #555;
    cursor: pointer;
  }

  div.slip-total {
    text-align: center;
    color: #111111;
    background: #00daac;
  }

  div.slip-total:hover {
    background: #00f1c3;
  }

  div.slip-total span.slip-amount {
    font-weight: 400;
    margin-right: 10px;
  }

  div.slip-total span.place-bet {
    font-size: small;
  }

  a.place-bet:hover {
    text-decoration: none;
  }

  /*Errors*/

  div.bet-error p {
    margin: 0;
    text-align: center;
    background: #FFC107;
    font-size: medium;
  }

  div.funds-error p {
    background: #FFC107;
    text-align: center;
    font-size: medium;
    margin: 0;
  }

  /*Main Nav*/

  .header-container {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 0 0 0.5rem;
    background-repeat: no-repeat;
    background-size: 140px;
    background-position-y: 5px;
    background-position-x: -10px;
    background-color: #46606c;
    /*background: -moz-linear-gradient(top, #334852 0%, #607d8b 100%);*/
    /*background: -webkit-linear-gradient(top, #334852 0%,#607d8b 100%);*/
    /*background: linear-gradient(to right, #334852 0%,#607d8b 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#334852', endColorstr='#607d8b',GradientType=0 );*/
  }

  .header-container .navbar {
    padding-left: 0px;
  }

  .navbar-image {
    float: left;
    margin-right: 5px;
  }

  .tagline {
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
    color: #f9f9f9;
    margin-left: -1em;
    padding: 0.5rem;
    margin-bottom: 0;
    background: rgb(86, 113, 125);
    border-bottom: solid 3px #aebdc3;
  }

  .navbar-title {
    white-space: nowrap;
  }

  .navbar-title h3 {
    font-family: 'Exo', sans-serif;
    color: whitesmoke;
    font-weight: 600;
  }

  ul.navbar-nav {
    border-radius: .25rem;
    margin: 0.5rem;
    background: #607D8B;
  }

  ul.navbar-nav li:hover {
    background: #738f9c;
  }

  ul.navbar-nav li:active {
    background: #738f9c;
  }

  ul.navbar-nav li:last-child:hover {
    border-radius: 0 .25rem .25rem 0;
  }

  li.account-balance {
    background: #5ece63;
    border-radius: 0 0.25rem 0.25rem 0;
  }

  ul.navbar-nav li.account-balance:hover {
    background: #5ddf62;
    border-radius: 0 0.25rem 0.25rem 0;
  }

  ul.navbar-nav li:first-child:hover {
    border-radius: .25rem 0 0 .25rem;
  }

  ul.navbar-nav li:active {
    background: #00BCD4;
    color: white;
    box-shadow: inset 0px 20px 0px rgba(63, 221, 241, 0.34);
  }

  nav.navbar a.nav-link {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
  }

  ul.navbar-nav li:not(:last-child) {
    border-right: solid 1px #738f9c
  }

  ul.navbar-nav li > div {
    display: inline-block;
  }

  ul.navbar-nav li a {
    padding: 0.75em 1em;
    text-align: center;
    line-height: 1;
  }

  .nav-link-sub {
    font-size: 10px;
  }

  /*Main Nav - Login */

  .navbar-login > form {
    flex-wrap: nowrap;
    background: #607d8b;
    padding: 8px 10px;
    border-radius: 0.25rem;
  }

  .navbar-login button {
    background: #738f9c;
    border: #738f9c;
    transition-duration: 0s;
  }

  .navbar-login button:hover {
    background: #89a9b6;
    cursor: pointer;
  }

  /*ul.navbar-nav form {*/
    /*margin: 3px;*/
  /*}*/

  /*ul.navbar-nav input.login-form {*/
    /*border-radius: 0;*/
    /*background: #fafafa;*/
    /*border: none;*/
    /*color: #ccc;*/
    /*padding: 3px 5px;*/
  /*}*/

  /*ul.navbar-nav input.login-form:focus {*/
    /*outline: none;*/
  /*}*/

  /*ul.navbar-nav input.navbar-login {*/
    /*flex: 1;*/
    /*background: #607d8b;*/
    /*padding: 3px 15px;*/
    /*text-align: left;*/
    /*font-size: medium;*/
    /*color: #fff;*/
    /*border: none;*/
  /*}*/

  /*ul.navbar-nav input.navbar-login:hover {*/
    /*text-decoration: none;*/
    /*background: #738f9c;*/
    /*cursor: pointer;*/
  /*}*/


  /*Sidebar Nav*/
  ul.sidebar-nav {
    list-style: none;
    padding: 0;
    background: white;
  }

  ul.sidebar-nav li {
    display: inline-block;
    line-height: 20px;
    position: relative;
    width: 100%;
  }

  ul.sidebar-nav li:not(:last-child) {
    border-bottom: solid 2px white
  }

  ul.sidebar-nav li a i {
    margin-right: 5px;
    min-width: 25px;
    text-align: center;
    color: #607d8b;
  }

  ul.sidebar-nav li a {
    color: #607d8b;
    display: block;
    padding: 10px 12px 10px 12px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
  }

  ul.sidebar-nav li a:hover {
    background: #fafafa;
  }

  ul.sidebar-nav .dropdown-menu {
    background: none;
    border-left: solid 1px #666;
    border-top: none;
    border-bottom: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative;
  }

  /*Landing Page*/
  .full-background {
    background: url("{% static '.' %}landing_background.jpg") #151515 no-repeat top right;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    margin: -1em -1em 0 -2em;
    background-size: cover;
    padding: 4em;
  }

  /*Registration*/
  select#id_supported_team {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #ccc;
    padding: 2rem;
    font-size: 1rem;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #292b2c;
    background-color: #fff;
  }

  input#id_username, input#id_email, input#id_password, input#id_bank_name, input#id_bank_account_number, input#id_branch_code, input#id_bank_balance{
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  }

  .registration-form input.btn.btn-link {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    background: #607d8b;
    color: white;
    transition-duration: 0s;
  }

  .registration-form input.btn.btn-link:hover {
    text-decoration: none;
    background: #738f9c;
    cursor: pointer;
  }

  a.register-button {
    display: inline;
    margin: 0 0.5em;
  }

  div.landing-login {
    padding: 4rem 2rem;
    box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.35);
    background-color: rgba(255, 255, 255, 0.9);
  }

  /*Registration Page*/

  .registration-form {
    padding: 2em;
  }

  .terms-and-conditions {
    border-left: solid 1px gainsboro;
  }

  /*Main Content*/
  div.main-content {
    background: white;
    border-radius: 0.25em;
  }

  .no-background {
    background: none !important;
  }

  /*Text Format*/
  h2, h4 {
    color: #607d8b;
  }

  ol.rule-list {
    color: #607d8b;
    font-weight: 600;
  }

  ol.rule-list p {
    color: #000;
    font-weight: initial;
  }

  div.list-container {
    background: whitesmoke;
    padding: 1rem 2rem 1rem 0rem;
    border-radius: 0.5rem;
  }

  div.card-header.guide {
    padding: 0;
  }

  div.card-header.guide a {
    display: block;
    padding: 0.5rem;
    background: #607d8b;
    color: white;
    font-size: medium;
    text-transform: uppercase;
  }

  div.card-header.guide a:hover {
    background: #738f9c;
    text-decoration: none;
  }

  div.card-header.guide a:focus {
    text-decoration: none;
    outline: none;
  }

  div.rule-content {
    border-radius: 0;
    border-bottom: none;
    border-top: none;
  }

  div.rule-content ul, div.rule-content ol {
    margin-bottom: 0;
  }

  /*Landing*/

  .landing-info {
    height: 20em;
  }

  .landing-info h3 {

  }

  .landing-info h3 {

  }

  /*Prizes*/
  ul.prize-list {
    list-style: none;
  }

  ul.prize-list li p {
    font-weight: 700;
    color: #607d8b;
  }

  ul.prize-list li p span {
    font-weight: 200;
    color: black;
  }

  /*Pools Detail Page*/

  /*Ranking Chart*/

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .line {
    cursor: pointer;
    fill: none;
    stroke: #9E9E9E;
    stroke-width: 1.5px;
  }
  .line.selected {
    stroke-width: 4px;
  }

  div.team-name-container {
    height: 100px;
    margin-left: 25px;
  }
  div.team-name {
    border: 2px solid #000;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-size: 130%;
    margin: 0.5em;
    padding: 0.5em;
  }
  div.team-name.selected {
    border-width: 4px;
    color: #fff;
    font-weight: bold;
  }

  .pool-detail {
    margin: 2em 1em 1em 1em;
    border-radius: 0.25rem;
    background: white;
  }

  .pool-detail tr:not(:last-child) {
    border-bottom: solid 1px #e5e5e5;
  }

  .pool-detail table td {
    padding: 0.5em 0;
  }

  .pool-rankings {
    width: 100%;
  }

  .username {
    font-weight: 600;
    color: #5f7c8a;
  }

  .monies {

  }

  .rank {
    width: 3em;
    text-align: center;
  }

  .rank div {
    width: 25px;
    text-align: center;
    border-radius: 100%;
    margin: auto;
    height: 25px;
  }

  .change {
    text-align: center;
    width: 3em;
  }

  table.pool-rankings tr:nth-child(1) > td.rank > div {
    background-color: gold;
    color: white;
  }

  table.pool-rankings tr:nth-child(2) > td.rank > div {
    background-color: silver;
    color: white;
  }

  table.pool-rankings tr:nth-child(3) > td.rank > div {
    background-color: sandybrown;
    color: white;
  }

  /*Pools List Page*/

  .pool-search {
    padding: 1em;
    border-radius: 0.25rem;
    background: whitesmoke;
  }

  .pool-container {
    margin: 1em 0;
    background: white;
    border-radius: 0.25rem;
  }

  .pool {
    background: white;
    padding: 1em;
    transition: all .25s ease;
  }

  .pool:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: all .25s ease;
  }

  .pool h4 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
  }

  .pool-summary {
    width: 100%;
    table-layout: fixed;
  }

  .pool-summary td {
    vertical-align: middle;
  }

  .pool-name-container {
    width: 100%;
    text-align: center;
  }

  .pool-summary-name {
    width: 50%;
    white-space: nowrap;
  }

  .pool-summary-standing {
    /*width: 15%;*/
  }

  .pool-summary-change {
    /*width: 15%;*/
  }

  .pool-balance {
    /*width: 15%;*/
  }

  .position-change i {
    padding-left: 5px;
  }

  .down {
    color: #d9534f
  }

  .up {
    color: #5ece63
  }

  .field-name {
    text-transform: uppercase;
    margin: 0 1em;
    color: #aebec3;
    font-weight: 100;
  }

  .pool-name {
    background: #f5f5f5;
    display: inline-block;
    text-align: center;
    padding: 2px 20px;
    color: #465f6b;
    border-radius: 0 0 5px 5px;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: larger;
  }

  .ct-point {
    stroke: #55707c !important;
    stroke-width: 8px !important;
  }

  .ct-line {
    stroke: #aebec3 !important;
    stroke-width: 2px !important;
  }

  .btn-join-pool i, .btn-leave-pool i {
    margin-right: 5px;
  }

  .btn-join-pool {
    background: #46c14b;
    color: white;
  }

  .btn-leave-pool {
    background: #F44336;
    color: white;
  }

  .btn-join-pool:hover {
    background: #54c359;
    cursor: pointer;
  }

  .btn-leave-pool:hover {
    background: #ff4c4c;
    cursor: pointer;
  }

  /*Pool Standings*/
  .pool-standings {
    background: #eee;
    font-size: small;
  }

  .pool-standings a {
    color: black
  }

  .pool-standings a:hover {
    text-decoration: none;
  }

  .pool-item {
    padding: 5px 10px;
    background: #607d8b;
    color: white
  }

  .pool-item:hover {
    background: #738f9c
  }

  .pool-name-sidebar {
    font-weight: 600;
  }

  span.change {
    padding: 2px 0;
  }

  span.change i {
    padding: 0 3px 0 10px
  }

  span.up {
    color: #27af2d;
  }

  span.down {
    color: #f57500;
  }

  /*Bet Slip*/

  #betform {

  }

  .bet-slip {
    background: #607d8b;
    border-radius: .25rem .25rem 0 0;
  }

  .bet-item {
    background: #638fa4;
    border-bottom: solid 1px #72a4bc;
    padding: 0.5em 0.25em;
  }

  .selection .removeBetContainer {
    display: table-cell;
    padding: 3px;
  }

  .selection .oddsContainer {
    display: table-cell;
    position: relative;
    vertical-align: top;
  }

  .selection .oddsContainer .odds {
    background-color: #00daac;
    margin: 10px 5px 5px 5px;
    border-radius: 2px;
    padding: 2px 5px;
    color: white;
    font-size: small;
  }

  .selection {
    display: table;
  }

  .betDetailsContainer {
    display: table-cell;
    padding: 5px 0 0 0;
    overflow: hidden;
    vertical-align: top;
    width: 100%;
  }

  .betDetailsContainer p.outcome {
    font-size: 13px;
    margin: 0;
  }

  .betDetailsContainer p.players {
    font-size: 11px;
    margin: 0;
  }

  a.remove-all p {
    margin-bottom: 0;
    background: #607d8b;
    text-align: center;
    color: #dee6ea;
    text-transform: uppercase;
    font-size: small;
  }

  div.selection {
    color: white
  }

  p.outcome {
    font-weight: 700;
  }

  a.remove-all p:hover:hover {
    background: #698998;
  }

  a.remove-all:hover {
    text-decoration: none;
  }

  a.remove-bet i {
    color: white;
  }

  a.remove-bet {
    background-color: #72a4bc;
    padding: 0 3px;
    float: right;
    margin: 4px 5px 0 5px;
    border-radius: 4px;
    font-size: 10px;
  }

  a.remove-bet:hover {
    background-color: #78adc6;
  }

  .wager-picker {
    margin: 0 0 10px 0 !important
  }

  .wager-picker > div {
    margin: auto;
  }

  .wager-picker .input-number {
    border-radius: 0;
    margin: -1px !important;
  }

  .wager-picker .input-group-btn {
    background: #e3e3e3;
    border-radius: 4px;
  }

  .input-group-btn button {
    background: #46606c;
    color: white;
    transition-duration: 0.2s;
  }

  .input-group-btn button:hover {
    background: #5d8090;
    color: white;
    cursor: pointer;
    transition-duration: 0.2s;
  }

  .accumulated-odds {
    text-align: center;
  }

  .stand-to-win {
    text-align: center;
    font-weight: 400;
    margin: 15px 0 0 0;
    border-top: solid 1px #10efc0;
    padding: 5px;
    background: #00daac;
  }

  .accumulated-odds > span {
    background-color: #00daac;
    margin: 5px;
    border-radius: 2px;
    padding: 4px 6px;
    color: white;
    font-size: small;
  }

  /*Carousel*/

  .carousel-item {
    height: 18em;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /*Just the Tip*/
  .tipper:nth-child(2) {
    padding-right: 1em;
    padding-left: 1em;
  }

  .tipper > div {
    background: #607d8b;
    border-radius: 0.25rem;
    color: white;
    padding: 1em;
    text-align: justify;
  }

  .tipper-name {
    font-weight: 600;
    text-align: center;
    border-bottom: solid 1px #738f9c;
    padding-bottom: 0.75em;
    margin-bottom: 0.75em;
    font-size: larger;
  }

  .tipper-image {
    background: white;
    height: 13em;
    width: 10em;
    margin: 1em auto;
  }

  .betting-tip {
    background: #46606c;
    padding: 0.5em;
    margin: 1em -1.5em 0.5em -1.5em;
    border-radius: 0.25rem;
    text-align: center;
  }

  .betting-tip p {
    color: white;
    font-weight: 600;
    margin: 0;
  }

  .betting-tip p > span {

  }

  .tip-rob {
    transform: rotate(-2deg);
  }

  .tip-tom {
    transform: rotate(2deg);
  }

  .tip-dan {
    transform: rotate(-3deg);
  }

  /*Transactions*/
  div.bets-list {
    overflow-x: scroll;
    background: white;
    border-radius: 3px;
    margin: 0.5em 0;
    transition: all 1s ease-out;
  }

  /*div.bets > div:nth-child(odd) {*/
    /*background: #777777;*/
  /*}*/

  div.bets div.bets-row:not(:last-child) {
    /*border-bottom: solid 1px #aebec3;*/
  }

  div.bets div.bets-row {
    font-size: 14px;
  }

  td.bet-pending {
    color: #55707c;
    font-weight: 600;
  }

  td.bet-lose {
    color: #e02d20;
    font-weight: 600;
  }

  td.bet-win {
    color: #46c14b;
    font-weight: 600;
  }

  .outcome-cell {
    padding: 12px 5px;
    color: white;
    text-align: center;
  }

  .outcome-cell.win-cell {
    background: #46c14b;
    border-bottom: white solid 1px
  }

  .outcome-cell.lose-cell {
    background: #e02d20;
    border-bottom: white solid 1px
  }

  .outcome-cell.pending-cell {
    background: #55707c;
    border-bottom: white solid 1px
  }

  .bet-game-name {
    background: #e7ebec;
    font-weight: 500;
    color: #465f6b;
    padding: 0 0 0 5px;
    font-size: medium;
  }

  .bet-count p.showAll:hover {
    background: #dddddd;
    cursor: pointer;
  }

  .bet-count p {
    margin-bottom: 0;
    text-align: center;
    background: white;
    border-radius: 5px;
    padding: 4px 0;
    color: #465f6b;
    font-weight: 600;
    line-height: 17px;
  }

  .bet-count p span {
    font-size: small;
    font-weight: 300;
  }

  .bet-breakdown {
    width: 100%;
    font-weight: 400;
    display: block;
    color: #465f6b;
    display: flex;
  }

  div.bets-list table {
    width: 100%;
  }

  div.bets-list bets {
    /*border-bottom: solid 1px whitesmoke;*/
  }

  .stand-to-win-cell p {
    margin: 0;
  }

  td.transaction-status > p {
    margin: 0 !important;
    font-size: 26px;
    line-height: 20px;
  }

  td.transaction-status > p span {
    font-size: large;
    font-weight: 600;
  }

  .win {
    background: #46c14b;
    border-radius: 5px 0 0 5px;
    color: white;
    font-weight: 800;
    text-align: center;
    font-size: larger;
  }

  .lose {
    background: #e02d20;
    border-radius: 5px 0 0 5px;
    color: white;
    font-weight: 800;
    text-align: center;
    font-size: larger;
  }

  .pending {
    background: #55707c;
    border-radius: 5px 0 0 5px;
    color: white;
    font-weight: 800;
    text-align: center;
    font-size: larger;
  }

  .bets {
    white-space: nowrap;
  }

  .transactions-table > tbody > tr:not(.spacer-row) {
    background: #f5f5f5;
  }

  tr.spacer-row {
    height: 5px;
  }

  table.bets tr {
    display: flex;
  }

  .stand-to-win-cell {
    margin-bottom: 0;
    padding: 1em;
    font-weight: 600;
    color: #465f6b;
    line-height: normal;
  }

  .stand-to-win-cell p {
    line-height: 22px;
  }

  .stand-to-win-cell span {
    font-size: 2em;
    font-weight: 600;
  }
  output {
    display: block;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0;
    width: 100%;
  }

  /*Register Modal*/

  /* The Modal (background) */
  .register-modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  /* Modal Content/Box */
  .register-modal-content {
    background-color: #46606c !important;
    margin: 15% auto;
    padding: 2em;
    border: 1px solid #888;
    max-width: 30em;
  }

  .register-modal-content .helptext {
    color: #b2c2ca;
    font-size: small;
  }

  .register-modal-content .btn {
    width: 100%;
    margin-top: 3em;
    color: white;
    background: #00daac;
  }

  .register-modal-content .btn:hover {
    cursor: pointer;
    background: #1df9cb;
    color: #465f6b;
    text-decoration: none;
  }

  /*.register-modal-content form {*/
    /*background: #607d8b;*/
    /*padding: 8px 10px;*/
    /*border-radius: 0.25rem;*/
  /*}*/

  .register-modal-content label {
    color: white;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 1px;
    font-weight: 500;
  }

  /* The Close Button */
  .modal-close {
    color: #adbec5;
    margin-top: 1em;
    text-align: center;
    margin-bottom: 0;
  }

  .modal-close:hover,
  .modal-close:focus {
    color: white
  }

  /* Register Page - Register Form */
  .register-form {
    background-color: #46606c !important;
    margin: auto;
    padding: 2em;
    border: 1px solid #888;
    max-width: 60em;
  }

  .register-form .helptext {
    color: #b2c2ca;
    font-size: small;
  }

  .register-form .btn {
    width: 100%;
    margin-top: 3em;
    color: white;
    background: #00daac;
  }

  .register-form .btn:hover {
    cursor: pointer;
    background: #1df9cb;
    color: #465f6b;
    text-decoration: none;
  }

  .register-form label {
    color: white;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 1px;
    font-weight: 500;
  }

  /* The Close Button */
  .forgot-password {
    color: #adbec5;
    margin-top: 1em;
    text-align: center;
    margin-bottom: 0;
  }

  .forgot-password:hover,
  .forgot-password:focus {
    color: white
  }

  .errorlist {
    color: gold;
  }
